<html>
  <head>
    <link href="../../theme.css" rel="stylesheet" type="text/css">
    <title>Cashbot | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png">
  </head>
  <body>
    <div class="topnav">
      <a href="../../index.html">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Activities
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../activities/gardening.html">Gardening</a>
          <a href="../activities/fishing.html">Fishing</a>
          <a href="../activities/racing.html">Racing</a>
          <a href="../activities/golfing.html">Golfing</a>
          <a href="../activities/doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="sellbot.html">Sellbot</a>
          <a href="cashbot.html">Cashbot</a>
          <a href="lawbot.html">Lawbot</a>
          <a href="bossbot.html">Bossbot</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Toon HQ
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="https://toonhq.org/invasions/" target="_blank">Invasions</a>
          <a href="https://toonhq.org/groups/" target="_blank">Groups</a>
        </div>
      </div>
      <a href="../about.html">About</a>
      <a href="../contact.html">Contact</a>
    </div>
  </body>
</html>