<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Spike's Rewritten Guide</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Knewave|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/theme.css" />
    <link id="pagestyle" rel="stylesheet" type="text/css" href="~/css/chipndaletheme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animation.css" asp-append-version="true" />
</head>
<body id="main">
    <div id="return-top"></div>
    <nav>
      <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/spikes_unwritten_guide.png" alt="Spike's Unwritten Guide">Home
      </a>
      <div class="dropdown">
        <button class="dropbtn">Activities&#9662;
        </button>
        <div class="dropdown-content">
          <a asp-area="" asp-controller="Home" asp-action="Gardening">Gardening</a>
          <a asp-area="" asp-controller="Home" asp-action="Fishing">Fishing</a>
          <a asp-area="" asp-controller="Home" asp-action="Racing">Racing</a>
          <a asp-area="" asp-controller="Home" asp-action="Golfing">Golfing</a>
          <a asp-area="" asp-controller="Home" asp-action="Doodles">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs&#9662;
        </button>
        <div class="dropdown-content">
          <a asp-area="" asp-controller="Home" asp-action="Sellbot">Sellbots</a>
          <a asp-area="" asp-controller="Home" asp-action="Cashbot">Cashbots</a>
          <a asp-area="" asp-controller="Home" asp-action="Lawbot">Lawbots</a>
          <a asp-area="" asp-controller="Home" asp-action="Bossbot">Bossbots</a>
        </div>
      </div>
      <a asp-area="" asp-controller="Home" asp-action="Toontips">Toon Tips</a>
      <a asp-area="" asp-controller="Home" asp-action="About">About</a>
    </nav>
    <div class="backtotop-link" id="backtotop-link"><a href="#return-top">Back to Top</a></div>
    <div class="container body-content">
        @RenderBody()
        <div class="footer-panel">
            <div>
                <select class="theme-select" id="selectBox" onchange="selectThemeChange()">
                    <option value='/css/chipndaletheme.css'>Chip N' Dales Theme</option>
                    <option value='/css/sellbottheme.css'>Sellbot Theme</option>
                    <option value='/css/cashbottheme.css'>Cashbot Theme</option>
                    <option value='/css/lawbottheme.css'>Lawbot Theme</option>
                    <option value='/css/bossbottheme.css'>Bossbot Theme</option>
                </select>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Spike</a>
                <a asp-area="" asp-controller="Home" asp-action="Faq">FAQ</a>
                <a asp-area="" asp-controller="Home" asp-action="Sitemap">Site Map</a>
            </div>
            <div>Spike's Rewritten Guide &copy; 2019</div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/scroll.js" asp-append-version="true"></script>
    <script src="~/js/shrink-nav.js" asp-append-version="true"></script>
    <script src="~/js/back-to-top.js" asp-append-version="true"></script>
    <script src="~/js/theme-change.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
