<!DOCTYPE html>
<html>
  <head>
    <link href="../../../theme.css" rel="stylesheet" type="text/css">
    <title>Fishing | Spike's Rewritten Guide</title>
    <link href="../list.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png">
  </head>
  <body>
    <div class="topnav">
      <a href="../../../index.html">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Activities
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../gardening/gardening.html">Gardening</a>
          <a href="fishing.html">Fishing</a>
          <a href="../racing.html">Racing</a>
          <a href="../golfing.html">Golfing</a>
          <a href="../doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../cogs/sellbot.html">Sellbot</a>
          <a href="../../cogs/cashbot.html">Cashbot</a>
          <a href="../../cogs/lawbot.html">Lawbot</a>
          <a href="../../cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Toon HQ
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="https://toonhq.org/invasions/" target="_blank">Invasions</a>
          <a href="https://toonhq.org/groups/" target="_blank">Groups</a>
        </div>
      </div>
      <a href="../../about.html">About</a>
      <a href="../../contact.html">Contact</a>
    </div>
  </body>
  <div class="panel">
    <div class="panel-content">
      <h1>Fishing</h1>
    </div>
  </div>
  <div class="list">
    <div class="filtering">
      <button name="species" class="active">By Species</button>
      <button name="rod" onclick="window.location.href='fishing_rods.html'">By Rods</button>
      <button name="pond" onclick="window.location.href='fishing_ponds.html'">By Ponds</button>
    </div>
  </div>
</html>