<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../../theme.css" rel="stylesheet" type="text/css">
    <link href="../../../sidenav.css" rel="stylesheet" type="text/css">
    <link href="../../../animation.css" rel="stylesheet" type="text/css">
    <title>Fishing | Spike's Rewritten Guide</title>
    <link href="../list.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        // Add smooth scrolling to all links
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function(){
              window.location.hash = hash;
            });
          }
        });
      });
    </script>
  </head>
  <body id="main">
    <div class="topnav">
      <a href="../../../index.html">
        <img src="../../../images/spikes_unwritten_guide.png" alt="Spike's Unwritten Guide">Home
      </a>
      <div class="dropdown">
        <button class="dropbtn">Activities&#9662
        </button>
        <div class="dropdown-content">
          <a href="../gardening/gardening.html">Gardening</a>
          <a href="fishing.html">Fishing</a>
          <a href="../racing.html">Racing</a>
          <a href="../golfing.html">Golfing</a>
          <a href="../doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs&#9662
        </button>
        <div class="dropdown-content">
          <a href="../../cogs/sellbot.html">Sellbot</a>
          <a href="../../cogs/cashbot.html">Cashbot</a>
          <a href="../../cogs/lawbot.html">Lawbot</a>
          <a href="../../cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <a href="../../toontips.html">Toon Tips</a>
      <a href="../../about.html">About</a>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="../../../index.html">Home</a>
      <a href="javascript:void(0)" style="cursor:context-menu">Activities</a>
      <ul>
        <li><a href="../gardening/gardening.html">Gardening</a></li>
        <li><a href="fishing.html">Fishing</a></li>
        <li><a href="../racing.html">Racing</a></li>
        <li><a href="../golfing.html">Golfing</a></li>
      </ul>
      <a href="javascript:void(0)" style="cursor:context-menu">Cogs</a>
      <ul>
        <li><a href="../../cogs/sellbot.html">Sellbot</a></li>
        <li><a href="../../cogs/cashbot.html">Cashbot</a></li>
        <li><a href="../../cogs/lawbot.html">Lawbot</a></li>
        <li><a href="../../cogs/bossbot.html">Bossbot</a></li>
      </ul>
      <a href="../../toontips.html">Toon Tips</a>
      <a href="../../about.html">About</a>
    </div>
    <div class="tooltip openbtn" onclick="openNav()">
      &#9776<span class="tooltiptext">Open Navigation</span>
    </div>
    <div class="panel">
      <div class="panel-content">
        <h1><a id="fishingTop">Fishing</a></h1>
        <p>
          Fishing is a fun way to earn yourself an additional 7 laff points! At any time, in any playground
          with a pond, which is all of them, a toon can fish to earn jellybeans and/or to add new species to their fish album. 
        </p>
        <h2>How to Fish</h2>
        <p>
          To start fishing, simply walk up to any avaliable fishing dock. From here, you will see the fishing
          dashboard that displays your jellybean jar, a bucket with a capacity of 20, and a circle labled "Cast".
          To throw a line, click and hold the Cast button then pull left or right for direction and pull back for 
          distance. Release the Cast button to throw the line. Each cast will cost you a 1+ jellybean(s). Your goal 
          is to throw a line near the moving shadows in the pond. If you successfully catch a fish, the information 
          card for the fish you caught will pop up on your screen and the fish will be added to your bucket.
        </p>
        <p>Similar to <a href="../gardening/gardening.html">gardening</a>, for every 10 new species caught and sold, 
        a laff point is earned! There are 70 total species and 7 earnable fishing trophies.</p>
        <p>
          Once you have reached capacity in your fishing bucket, you have to sell your fish to a fisherman or
          at the petshop. Fishermen can be found in close proximity to the pond you are fishing at. If you are 
          fishing at your estate, there is a yellow bucket next to the pond where you can sell your fish. If 
          you sell your fish for more jellybeans than you can carry, do not fear! The overflow will go to your
          main jellybean bank in your estate.
        </p>
        <h2>Ponds & Rods</h2>
        <p>
          A pond is the area were a toon is able to fish. They are located in each playground and can also
          be found on any street. Note, you will not find a pond in cog headquarters, Goofy Speedway, or Chip n'
          Dales MiniGolf. Most ponds are unique in a way that they contain different types of fish species. Some
          provide a better probablity of catching certain species as well. This can be helpful when on the hunt for 
          rare fishes!
        </p>
        <p>
          Of course to fish, a toon needs a fishing rod! There is no initial purchase necessary to start fishing, 
          every toon starts out with a Twig rod. The Twig rod is the weakest tier rod and will not be able to catch
          heavier fish. But do not worry, you can upgrade your rod by purchasing them as they become
          avaliable in Clarabelle's Catalog! These upgrades are important if you are interested in catching 
          all 70 fish. With each upgrade, an additional jellybean is added to the cost of casting. Check out the table 
          below to see how each rod differs and what each upgrade will provide you:
        </p>
        <table>
          <thead>
            <tr>
              <th>Rod</th>
              <th>Weight (lbs)</th>
              <th>Cost (per cast)</th>
              <th>Avaliable Fish Species</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Twig Rod</td>
              <td>0 - 4</td>
              <td>1 jellybean</td>
              <td>38</td>
            </tr>
            <tr>
              <td>Bamboo Rod</td>
              <td>0 - 8</td>
              <td>2 jellybeans</td>
              <td>49 (+11)</td>
            </tr>
            <tr>
              <td>Hardwood Rod</td>
              <td>0 - 12</td>
              <td>3 jellybeans</td>
              <td>60 (+11)</td>
            </tr>
            <tr>
              <td>Steel Rod</td>
              <td>0 - 16</td>
              <td>4 jellybeans</td>
              <td>69 (+9)</td>
            </tr>
            <tr>
              <td>Gold Rod</td>
              <td>0 - 20</td>
              <td>5 jellybeans</td>
              <td>70 (+1)</td>
            </tr>
          </tbody>
        </table>
        <p>Note, having an upgraded rod will increase the probablity of catching a rare fish species.</p>
        <h2>Fish Bingo</h2>
        <p>
          Fish Bingo is an event which happens every Wednesday and every Silly Saturday. The objective of
          Fish Bingo is very very similar to how regular Bingo works. The aim is to fill the white spots 
          on the board, which will appear in your fish dashboard on the appropriate days. To do this, you have to 
          catch the fish that appear on the board. If you do successfully catch a needed fish, the spot on the 
          board will flash red. Be quick, that spot must be clicked before someone else marks it! If all the white
          spots are marked, the Bingo button will begin to flash and the first toon to click it gets the 
          reward. 
        </p>
        <p>For a Bingo tip, if an old boot is caught, any spot on the board can be marked.</p>
        <hr>
        <h2><a id="fishFinder">Finding Fish Species</a></h2>
        <p>Ready to start fishing? Great! Check out the lists below to help you find the fish types and
          fish species you are looking for! You can organize by fish type, by rod type, or by pond location.
          Happy fishing!
        </p>
      </div>
    </div>
    <div id="animate" class="list">
      <div class="list-navigation">
        <a href="#balloon">Balloon Fish</a> | <a href="#jellyfish">Jellyfish</a>
          | <a href="#catfish">Cat Fish</a> | <a href="#clownfish">Clown Fish</a> | <a href="#frozen">Frozen Fish</a>
          | <a href="#starfish">Star Fish</a> | <a href="#holey">Holey Mackerel</a> | <a href="#dogfish">Dog Fish</a>
          | <a href="#devil">Devil Ray</a><br><a href="#eel">Amore Eel</a> | <a href="#shark">Nurse Shark</a>
          | <a href="#crab">King Crab</a> | <a href="#moonfish">Moon Fish</a> | <a href="#seahorse">Sea Horse</a>
          | <a href="#poolshark">Pool Shark</a> | <a href="#acuda">Bear Acuda</a> | <a href="#trout">Cutthroat Trout</a>
          | <a href="#piano">Piano Tuna</a>
      </div>
      <div class="filtering">
        <button name="species" class="active">By Fish</button>
        <button name="rod" onclick="window.location.href='fishing_rods.html#fishFinder'">By Rod</button>
        <button name="pond" onclick="window.location.href='fishing_ponds.html#fishFinder'">By Pond</button>
      </div>
      <h2><a id="balloon">Balloon Fish</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/balloonfish.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Balloon Fish</td>
              <td>All Ponds</td>
              <td>Twig</td>
              <td>1</td>
              <td>2 - 7</td>
            </tr>
            <tr>
              <td>Hot Air Balloon Fish</td>
              <td>Toontown Central<br><br>All Ponds</td>
              <td>Twig</td>
              <td>4<br><br>5</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Weather Balloon Fish</td>
              <td>Punchline Place<br><br>The Brrrgh</td>
              <td>Twig</td>
              <td>5<br><br>6</td>
              <td>17- 19</td>
            </tr>
            <tr>
              <td>Water Balloon Fish</td>
              <td>Silly Street<br><br>Daisy Gardens</td>
              <td>Twig</td>
              <td>3<br><br>4</td>
              <td>9 - 11</td>
            </tr>
            <tr>
              <td>Red Balloon Fish</td>
              <td>Loopy Lane<br><br>Toontown Central</td>
              <td>Twig</td>
              <td>2<br><br>3</td>
              <td>5 - 7</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="jellyfish">Jellyfish</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/jellyfish.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Peanut Butter & Jellyfish</td>
              <td>Toontown Central<br><br>Estate<br><br>All Ponds</td>
              <td>Twig</td>
              <td>2<br><br>3<br><br>4</td>
              <td>5 - 8</td>
            </tr>
            <tr>
              <td>Grape PB&J Fish</td>
              <td>The Brrrgh<br><br>Estate<br><br>All Ponds</td>
              <td>Twig</td>
              <td>3<br><br>4<br><br>5</td>
              <td>8 - 11</td>
            </tr>
            <tr>
              <td>Crunchy PB&J Fish</td>
              <td>Daisy Gardens<br><br>Estate</td>
              <td>Twig</td>
              <td>4<br><br>5</td>
              <td>12 - 14</td>
            </tr>
            <tr>
              <td>Strawberry PB&J Fish</td>
              <td>Donald's Dreamland<br><br>Estate</td>
              <td>Twig</td>
              <td>5<br><br>6</td>
              <td>16 - 19</td>
            </tr>
            <tr>
              <td>Concord Grape PB&J Fish</td>
              <td>The Brrrgh<br><br>Donald's Dreamland</td>
              <td>Twig</td>
              <td>10</td>
              <td>44 - 46</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="catfish">Cat Fish</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/catfish.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cat Fish</td>
              <td>Daisy Gardens<br><br>All Ponds</td>
              <td>Twig</td>
              <td>1<br><br>2</td>
              <td>3 - 7</td>
            </tr>
            <tr>
              <td>Siamese Cat Fish</td>
              <td>Elm Street<br><br>Daisy Gardens</td>
              <td>Twig</td>
              <td>9<br><br>10</td>
              <td>39 - 40</td>
            </tr>
            <tr>
              <td>Alley Cat Fish</td>
              <td>Lullaby Lane</td>
              <td>Bamboo</td>
              <td>4</td>
              <td>15 - 19</td>
            </tr>
            <tr>
              <td>Tabby Cat Fish</td>
              <td>Daisy Gardens<br><br>Estate</td>
              <td>Twig</td>
              <td>3<br><br>4</td>
              <td>6 - 11</td>
            </tr>
            <tr>
              <td>Tom Cat Fish</td>
              <td>Donald's Dreamland<br><br>Estate</td>
              <td>Bamboo</td>
              <td>2<br><br>3</td>
              <td>8 - 12</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="clownfish">Clown Fish</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/clownfish.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Clown Fish</td>
              <td>Toontown Central<br><br>All Ponds</td>
              <td>Twig</td>
              <td>1<br><br>2</td>
              <td>3 - 7</td>
            </tr>
            <tr>
              <td>Sad Clown Fish</td>
              <td>Toontown Central<br><br>All Ponds</td>
              <td>Twig</td>
              <td>4<br><br>5</td>
              <td>13 - 17</td>
            </tr>
            <tr>
              <td>Party Clown Fish</td>
              <td>Toontown Central<br><br>All Ponds</td>
              <td>Twig</td>
              <td>2<br><br>3</td>
              <td>6 - 10</td>
            </tr>
            <tr>
              <td>Circus Clown Fish</td>
              <td>Toontown Central<br><br>Minnie's Melodyland</td>
              <td>Twig</td>
              <td>6<br><br>7</td>
              <td>21 - 27</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="frozen">Frozen Fish</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/frozenfish.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Frozen Fish</td>
              <td>The Brrrgh</td>
              <td>Bamboo</td>
              <td>1</td>
              <td>7 - 10</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="starfish">Star Fish</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/starfish.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Star Fish</td>
              <td>All Ponds</td>
              <td>Twig</td>
              <td>1</td>
              <td>2 - 8</td>
            </tr>
            <tr>
              <td>Five Star Fish</td>
              <td>Minnie's Melodyland<br><br>All Ponds</td>
              <td>Twig</td>
              <td>2<br><br>3</td>
              <td>5 - 8</td>
            </tr>
            <tr>
              <td>Rock Star Fish</td>
              <td>Minnie's Melodyland<br><br>All Ponds</td>
              <td>Bamboo</td>
              <td>5<br><br>6</td>
              <td>19 - 22</td>
            </tr>
            <tr>
              <td>Shining Star Fish</td>
              <td>Estate<br><br>All Ponds</td>
              <td>Twig</td>
              <td>7<br><br>8</td>
              <td>26 - 32</td>
            </tr>
            <tr>
              <td>All Star Fish</td>
              <td>All Ponds</td>
              <td>Twig</td>
              <td>10</td>
              <td>43 - 46</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="holey">Holey Mackerel</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/holeymackerel.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Holey Mackerel</td>
              <td>Estate<br><br>All Ponds</td>
              <td>Bamboo</td>
              <td>9<br><br>10</td>
              <td>41 - 43</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="dogfish">Dog Fish</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/dog.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dog Fish</td>
              <td>Donald's Dock<br><br>All Ponds</td>
              <td>Bamboo</td>
              <td>1<br><br>2</td>
              <td>7 - 13</td>
            </tr>
            <tr>
              <td>Bull Dog Fish</td>
              <td>Donald's Dock<br><br>Estate</td>
              <td>Gold</td>
              <td>6<br><br>7</td>
              <td>34 - 35</td>
            </tr>
            <tr>
              <td>Hot Dog Fish</td>
              <td>Donald's Dock<br><br>Estate</td>
              <td>Twig</td>
              <td>5<br><br>6</td>
              <td>16 - 19</td>
            </tr>
            <tr>
              <td>Dalmatian Dog Fish</td>
              <td>Donald's Dock<br><br>Estate</td>
              <td>Twig</td>
              <td>4<br><br>5</td>
              <td>13 - 16</td>
            </tr>
            <tr>
              <td>Puppy Dog Fish</td>
              <td>Donald's Dock<br><br>All Ponds</td>
              <td>Twig</td>
              <td>2<br><br>3</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="devil">Devil Ray</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/devilray.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Devil Ray</td>
              <td>All Ponds</td>
              <td>Twig</td>
              <td>10</td>
              <td>44 - 58</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="eel">Amore Eel</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/amoreeel.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Amore Eel</td>
              <td>Daisy Gardens<br><br>Estate<br><br>All Ponds</td>
              <td>Twig</td>
              <td>1<br><br>2<br><br>3</td>
              <td>3 - 6</td>
            </tr>
            <tr>
              <td>Electric Amore Eel</td>
              <td>Daisy Gardens<br><br>Estate</td>
              <td>Twig</td>
              <td>3<br><br>4</td>
              <td>9 - 11</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="shark">Nurse Shark</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/nurseshark.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nurse Shark</td>
              <td>Minnie's Melodyland<br><br>All Ponds</td>
              <td>Twig</td>
              <td>5<br><br>6</td>
              <td>18 - 24</td>
            </tr>
            <tr>
              <td>Clara Nurse Shark</td>
              <td>Baritone Boulevard<br><br>Minnie's Melodyland</td>
              <td>Twig</td>
              <td>7<br><br>8</td>
              <td>28 - 37</td>
            </tr>
            <tr>
              <td>Florence Nurse Shark</td>
              <td>Tenor Terrace<br><br>Minnie's Melodyland</td>
              <td>Twig</td>
              <td>8<br><br>9</td>
              <td>33 - 39</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="crab">King Crab</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/kingcrab.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>King Crab</td>
              <td>Donald's Dock<br><br>All Ponds</td>
              <td>Twig</td>
              <td>3<br><br>4</td>
              <td>5 - 10</td>
            </tr>
            <tr>
              <td>Alaskan King Crab</td>
              <td>The Brrrgh</td>
              <td>Bamboo</td>
              <td>7</td>
              <td>29 - 31</td>
            </tr>
            <tr>
              <td>Old King Crab</td>
              <td>Lighthouse Lane</td>
              <td>Twig</td>
              <td>8</td>
              <td>33 - 36</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="moonfish">Moon Fish</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/moonfish.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Moon Fish</td>
              <td>Donald's Dreamland</td>
              <td>Twig</td>
              <td>1</td>
              <td>4 - 6</td>
            </tr>
            <tr>
              <td>Full Moon Fish</td>
              <td>Donald's Dreamland</td>
              <td>Steel</td>
              <td>10</td>
              <td>53 - 56</td>
            </tr>
            <tr>
              <td>Crescent Moon Fish</td>
              <td>Lullaby Lane</td>
              <td>Twig</td>
              <td>6</td>
              <td>21 - 24</td>
            </tr>
            <tr>
              <td>New Moon Fish</td>
              <td>Donald's Dreamland</td>
              <td>Twig</td>
              <td>3</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Half Moon Fish</td>
              <td>Lullaby Lane</td>
              <td>Bamboo</td>
              <td>8</td>
              <td>36 - 37</td>
            </tr>
            <tr>
              <td>Harvest Moon Fish</td>
              <td>Donald's Dreamland<br><br>Daisy Gardens</td>
              <td>Hardwood</td>
              <td>4<br><br>5</td>
              <td>18 - 21</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="seahorse">Sea Horse</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/seahorse.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sea Horse</td>
              <td>Estate<br><br>Daisy Gardens<br><br>All Ponds</td>
              <td>Hardwood</td>
              <td>2<br><br>3<br><br>4</td>
              <td>13 - 19</td>
            </tr>
            <tr>
              <td>Rocking Sea Horse</td>
              <td>Estate<br><br>Daisy Gardens<br><br>All Ponds</td>
              <td>Steel</td>
              <td>3<br><br>4<br><br>5</td>
              <td>18 - 21</td>
            </tr>
            <tr>
              <td>Clydesdale Sea Horse</td>
              <td>Estate<br><br>Daisy Gardens</td>
              <td>Steel</td>
              <td>5<br><br>6</td>
              <td>26 - 30</td>
            </tr>
            <tr>
              <td>Arabian Sea Horse</td>
              <td>Estate<br><br>Daisy Gardens</td>
              <td>Steel</td>
              <td>7<br><br>8</td>
              <td>36 - 40</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="poolshark">Pool Shark</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/poolshark.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pool Shark</td>
              <td>All Ponds</td>
              <td>Hardwood</td>
              <td>3</td>
              <td>14 - 15</td>
            </tr>
            <tr>
              <td>Kiddie Pool Shark</td>
              <td>Daisy Gardens<br><br>Donald's Dock</td>
              <td>Bamboo</td>
              <td>5<br><br>6</td>
              <td>21 - 24</td>
            </tr>
            <tr>
              <td>Swimming Pool Shark</td>
              <td>Daisy Gardens<br><br>Donald's Dock</td>
              <td>Bamboo</td>
              <td>6<br><br>7</td>
              <td>26 - 29</td>
            </tr>
            <tr>
              <td>Olympic Pool Shark</td>
              <td>Daisy Gardens<br><br>Donald's Dock</td>
              <td>Bamboo</td>
              <td>7<br><br>8</td>
              <td>31 - 37</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="acuda">Bear Acuda</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/bearacuda.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Brown Bear Acuda</td>
              <td>The Brrrgh</td>
              <td>Hardwood</td>
              <td>2</td>
              <td>11 - 18</td>
            </tr>
            <tr>
              <td>Black Bear Acuda</td>
              <td>The Brrrgh</td>
              <td>Hardwood</td>
              <td>3</td>
              <td>15 - 21</td>
            </tr>
            <tr>
              <td>Koala Bear Acuda</td>
              <td>The Brrrgh</td>
              <td>Hardwood</td>
              <td>4</td>
              <td>18 - 26</td>
            </tr>
            <tr>
              <td>Honey Bear Acuda</td>
              <td>The Brrrgh</td>
              <td>Hardwood</td>
              <td>5</td>
              <td>23 - 29</td>
            </tr>
            <tr>
              <td>Polar Bear Acuda</td>
              <td>The Brrrgh</td>
              <td>Hardwood</td>
              <td>6</td>
              <td>29 - 35</td>
            </tr>
            <tr>
              <td>Panda Bear Acuda</td>
              <td>The Brrrgh</td>
              <td>Steel</td>
              <td>7</td>
              <td>36 - 40</td>
            </tr>
            <tr>
              <td>Kodiac Bear Acuda</td>
              <td>Sleet Street<br><br>The Brrrgh</td>
              <td>Steel</td>
              <td>8<br><br>9</td>
              <td>41 - 45</td>
            </tr>
            <tr>
              <td>Grizzly Bear Acuda</td>
              <td>The Brrrgh<br><br>Walrus Way</td>
              <td>Steel</td>
              <td>10</td>
              <td>55 - 58</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="trout">Cutthroat Trout</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/cuttthroat.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cutthroat Trout</td>
              <td>Donald's Dock<br><br>All Ponds</td>
              <td>Twig</td>
              <td>2<br><br>3</td>
              <td>5 - 11</td>
            </tr>
            <tr>
              <td>Captain Cutthroat Trout</td>
              <td>Barnacle Boulevard<br><br>Donald's Dock</td>
              <td>Twig</td>
              <td>6<br><br>7</td>
              <td>23 - 27</td>
            </tr>
            <tr>
              <td>Scurvy Cutthroat Trout</td>
              <td>Seaweed Street<br><br>Donald's Dock</td>
              <td>Twig</td>
              <td>7<br><br>8</td>
              <td>28 - 32</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="piano">Piano Tuna</a></h2>
      <ul>
        <img class="list-fish" src="../../../images/fish/pianofish.png">
        <table>
          <thead>
            <tr>
              <th>Species</th>
              <th>Pond</th>
              <th>Rod</th>
              <th>Rarity</th>
              <th><img src="../../../images/jellybean_jar.png"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Piano Tuna</td>
              <td>Minnie's Melodyland<br><br>All Ponds</td>
              <td>Steel</td>
              <td>5<br><br>6</td>
              <td>25 - 28</td>
            </tr>
            <tr>
              <td>Grand Piano Tuna</td>
              <td>Minnie's Melodyland<br><br>Alto Avenue</td>
              <td>Steel</td>
              <td>10</td>
              <td>55 - 59</td>
            </tr>
            <tr>
              <td>Baby Grand Piano Tuna</td>
              <td>Tenor Terrace<br><br>Minnie's Melodyland</td>
              <td>Hardwood</td>
              <td>9<br><br>10</td>
              <td>46 - 50</td>
            </tr>
            <tr>
              <td>Upright Piano Tuna</td>
              <td>Minnie's Melodyland</td>
              <td>Hardwood</td>
              <td>6</td>
              <td>29 - 34</td>
            </tr>
            <tr>
              <td>Player Piano Tuna</td>
              <td>Minnie's Melodyland</td>
              <td>Hardwood</td>
              <td>7</td>
              <td>29 - 39</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
    </div>
    <div class="footer-panel">
      <div>
        <a href="../../contact.html">Contact Spike</a>
        <a href="../../faq.html">FAQ</a>
        <a href="../../sitemap.html">Site Map</a>
      </div>
      <div>Spike's Rewritten Guide © 2018</div>
    </div>
    <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "255px";
          document.getElementById("main").style.marginLeft = "255px";
      }
      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </body>
</html>