<!DOCTYPE html>
<html>
  <head>
    <link href="../../../theme.css" rel="stylesheet" type="text/css">
    <link href="../../../animation.css" rel="stylesheet" type="text/css">
    <title>Fishing | Spike's Rewritten Guide</title>
    <link href="../list.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        // Add smooth scrolling to all links
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function(){
              window.location.hash = hash;
            });
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="topnav">
      <a href="../../../index.html">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Activities&#9662
        </button>
        <div class="dropdown-content">
          <a href="../gardening/gardening.html">Gardening</a>
          <a href="fishing.html">Fishing</a>
          <a href="../racing.html">Racing</a>
          <a href="../golfing.html">Golfing</a>
          <a href="../doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs&#9662
        </button>
        <div class="dropdown-content">
          <a href="../../cogs/sellbot.html">Sellbot</a>
          <a href="../../cogs/cashbot.html">Cashbot</a>
          <a href="../../cogs/lawbot.html">Lawbot</a>
          <a href="../../cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <a href="../../toontips.html">Toon Tips</a>
      <a href="../../about.html">About</a>
    </div>
    <div class="panel">
      <div class="panel-content">
        <h1><a id="fishingTop">Fishing</a></h1>
      </div>
    </div>
    <div id="animate" class="list">
      <div class="list-navigation">
        <a href="#twig">Twig Rod</a> | <a href="#bamboo">Bamboo Rod</a>
          | <a href="#hardwood">Hardwood Rod</a> | <a href="#steel">Steel Rod</a> | <a href="#gold">Gold Rod</a>
      </div>
      <div class="filtering">
        <button name="species" onclick="window.location.href='fishing.html'">By Fish</button>
        <button name="rod" class="active">By Rod</button>
        <button name="pond" onclick="window.location.href='fishing_ponds.html'">By Pond</button>
      </div>
      <h2><a id="twig">Twig Rod</a></h2>
      <ul>
        <table>
          <thead>
            <tr>
              <th>Fish Type</th>
              <th>Fish Species</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="../../../images/fish/balloonfish.png"><span>Balloon Fish</span></td>
              <td>Balloon Fish<br><br>Weather Balloon Fish<br><br>Red Balloon Fish<br><br>Hot Air Balloon Fish<br><br>Water Balloon Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/jellyfish.png"><span>Jellyfish</span></td>
              <td>Crunchy PB&J Fish<br><br>Concord Grape PB&J Fish<br><br>Strawberry PB&J Fish<br><br>Grape PB&J Fish<br><br>Peanut Butter & Jellyfish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/catfish.png"><span>Cat Fish</span></td>
              <td>Cat Fish<br><br>Tabby Cat Fish<br><br>Siamese Cat Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/clownfish.png"><span>Clown Fish</span></td>
              <td>Clown Fish<br><br>Sad Clown Fish<br><br>Party Clown Fish<br><br>Circus Clown Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/starfish.png"><span>Star Fish</span></td>
              <td>Star Fish<br><br>Five Star Fish<br><br>All Star Fish<br><br>Shining Star Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/dog.png"><span>Dog Fish</span></td>
              <td>Puppy Dog Fish<br><br>Dalmatian Dog Fish<br><br>Hot Dog Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/devilray.png"><span>Devil Ray</span></td>
              <td>Devil Ray</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/amoreeel.png"><span>Amore Eel</span></td>
              <td>Amore Eel<br><br>Electric Amore Eel</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/nurseshark.png"><span>Nurse Shark</span></td>
              <td>Nurse Shark<br><br>Clara Nurse Shark<br><br>Florence Nurse Shark</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/kingcrab.png"><span>King Crab</span></td>
              <td>King Crab<br><br>Old King Crab</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/moonfish.png"><span>Moon Fish</span></td>
              <td>Moon Fish<br><br>Crescent Moon Fish<br><br>New Moon Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/cuttthroat.png"><span>Cutthroat Trout</span></td>
              <td>Cutthroat Trout<br><br>Captain Cutthroat Trout<br><br>Scurvy Cutthroat Trout</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="bamboo">Bamboo Rod</a></h2>
      <ul>
        <table>
          <thead>
            <tr>
              <th>Fish Type</th>
              <th>Fish Species</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="../../../images/fish/catfish.png"><span>Cat Fish</span></td>
              <td>Alley Cat Fish<br><br>Tom Cat Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/frozenfish.png"><span>Frozen Fish</span></td>
              <td>Frozen Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/starfish.png"><span>Star Fish</span></td>
              <td>Rock Star Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/holeymackerel.png"><span>Holey Mackerel</span></td>
              <td>Holey Mackerel</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/dog.png"><span>Dog Fish</span></td>
              <td>Dog Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/kingcrab.png"><span>King Crab</span></td>
              <td>Alaskan King Crab</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/moonfish.png"><span>Moon Fish</span></td>
              <td>Half Moon Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/poolshark.png"><span>Pool Shark</span></td>
              <td>Kiddie Pool Shark<br><br>Olympic Pool Shark<br><br>Swimming Pool Shark</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="hardwood">Hardwood Rod</a></h2>
      <ul>
        <table>
          <thead>
            <tr>
              <th>Fish Type</th>
              <th>Fish Species</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="../../../images/fish/moonfish.png"><span>Moon Fish</span></td>
              <td>Harvest Moon Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/seahorse.png"><span>Sea Horse</span></td>
              <td>Sea Horse</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/poolshark.png"><span>Pool Shark</span></td>
              <td>Pool Shark</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/bearacuda.png"><span>Bear Acuda</span></td>
              <td>Black Bear Acuda<br><br>Brown Bear Acuda<br><br>Honey Bear Acuda<br><br>Koala Bear Acuda<br><br>Polar Bear Acuda</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/pianofish.png"><span>Piano Tuna</span></td>
              <td>Baby Grand Piano Tuna<br><br>Player Piano Tuna<br><br>Upright Piano Tuna</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="steel">Steel Rod</a></h2>
      <ul>
        <table>
          <thead>
            <tr>
              <th>Fish Type</th>
              <th>Fish Species</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="../../../images/fish/moonfish.png"><span>Moon Fish</span></td>
              <td>Full Moon Fish</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/seahorse.png"><span>Sea Horse</span></td>
              <td>Arabian Sea Horse<br><br>Clydesdale Sea Horse<br><br>Rocking Sea Horse</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/bearacuda.png"><span>Bear Acuda</span></td>
              <td>Grizzly Bear Acuda<br><br>Kodiac Bear Acuda<br><br>Panda Bear Acuda</td>
            </tr>
            <tr>
              <td><img src="../../../images/fish/pianofish.png"><span>Piano Tuna</span></td>
              <td>Piano Tuna<br><br>Grand Piano Tuna</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
      <h2><a id="gold">Gold Rod</a></h2>
      <ul>
        <table>
          <thead>
            <tr>
              <th>Fish Type</th>
              <th>Fish Species</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="../../../images/fish/dog.png"><span>Dog Fish</span></td>
              <td>Bull Dog Fish</td>
            </tr>
          </tbody>
        </table>
        <a href="#fishingTop">Back to Top</a>
      </ul>
    </div>
    <div class="footer-panel">
      <div>
        <a href="../../contact.html">Contact Spike</a>
        <a href="../../faq.html">FAQs</a>
        <a href="../../sitemap.html">Site Map</a>
      </div>
      <div>Spike's Rewritten Guide © 2018</div>
    </div>
  </body>
</html>