<html>
  <head>
    <link href="../../theme.css" rel="stylesheet" type="text/css">
    <title>Gardening | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png">
  </head>
  <body>
    <div class="topnav">
      <a href="../../index.html">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Activities
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="gardening.html">Gardening</a>
          <a href="fishing.html">Fishing</a>
          <a href="racing.html">Racing</a>
          <a href="golfing.html">Golfing</a>
          <a href="doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../cogs/sellbot.html">Sellbot</a>
          <a href="../cogs/cashbot.html">Cashbot</a>
          <a href="../cogs/lawbot.html">Lawbot</a>
          <a href="../cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Toon HQ
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="https://toonhq.org/invasions/" target="_blank">Invasions</a>
          <a href="https://toonhq.org/groups/" target="_blank">Groups</a>
        </div>
      </div>
      <a href="../about.html">About</a>
      <a href="../contact.html">Contact</a>
    </div>
    <div>
      <ul>
        <!-- One bean flower combinations -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="one" data-image="">Laff-o-dill</li>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="one" data-image="">Dandy Pansy</li>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="one" data-image="">What-in Carnation</li>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="one" data-image="">School Daisy</li>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="one" data-image="">Lily-of-the-Alley</li>
        <!-- Two bean flower combinations -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="two" data-image="">Daffy Dill</li>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="two" data-image="">Chim Pansy</li>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="two" data-image="">Instant Carnation</li>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="two" data-image="">Lazy Daisy</li>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="two" data-image="">Lily Pad</li>
        <!-- Three bean flower combinations -->
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="three" data-image="">Midsummer Daisy</li>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="three" data-image="">Potsen Pansy</li>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="three" data-image="">Hybrid Carnation</li>
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="three" data-image="">Summer's Last Rose</li>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="three" data-image="">Tiger Lily</li>
        <!-- Four bean flower combinations -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="four" data-image="">Giraff-o-dil</li>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="four" data-image="">Marzi Pansy</li>
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="four" data-image="">Corn Rose</li>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="four" data-image="">Freshasa Daisy</li>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="four" data-image="">Livered Lily</li>
        <!-- Five bean flower combinations -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="five" data-image="">Time and half-o-dil</li>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="five" data-image="">Side Carnation</li>
        <li data-flower-type="tulip" data-bean-type="purple" data-num-beans="five" data-image="">Onelip</li>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="five" data-image="">Whoopsie Daisy</li>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="five" data-image="">Chili Lily</li>
        <!-- Six bean flower combinations -->
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="six" data-image="">Tinted Rose</li>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="six" data-image="">Smarty Pansy</li>
        <li data-flower-type="tulip" data-bean-type="purple" data-num-beans="six" data-image="">Twolip</li>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="six" data-image="">Upsy Daisy</li>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="six" data-image="">Silly Lily</li>
        <!-- Seven bean flower combinations -->
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="seven" data-image="">Stinking Rose</li>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="seven" data-image="">Model Carnation</li>
        <li data-flower-type="petunia" data-bean-type="blue" data-num-beans="seven" data-image="">Car Petunia</li>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="seven" data-image="">Crazy Daisy</li>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="seven" data-image="">Indubitab Lily</li>
        <!-- Eight bean flower combinations -->
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="eight" data-image="">Istilla Rose</li>
        <li data-flower-type="tulip" data-bean-type="purple" data-num-beans="eight" data-image="">Threelip</li>
        <li data-flower-type="petunia" data-bean-type="blue" data-num-beans="eight" data-image="">Platoonia</li>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="eight" data-image="">Hazy Daisy</li>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="eight" data-image="">Dilly Lily</li>
      </ul>
    </div>
  </body>
</html>