<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../theme.css" rel="stylesheet" type="text/css">
    <title>Golfing | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../shared/scroll.js"></script>
  </head>
  <body id="main">
    <nav>
      <a href="../../index.html">
        <img src="../../images/spikes_unwritten_guide.png" alt="Spike's Unwritten Guide">Home
      </a>
      <div class="dropdown">
        <button class="dropbtn">Activities&#9662;
        </button>
        <div class="dropdown-content">
          <a href="gardening/gardening.html">Gardening</a>
          <a href="fishing/fishing.html">Fishing</a>
          <a href="racing.html">Racing</a>
          <a href="golfing.html">Golfing</a>
          <a href="doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs&#9662;
        </button>
        <div class="dropdown-content">
          <a href="../cogs/sellbot.html">Sellbot</a>
          <a href="../cogs/cashbot.html">Cashbot</a>
          <a href="../cogs/lawbot.html">Lawbot</a>
          <a href="../cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <a href="../toontips.html">Toon Tips</a>
      <a href="../about.html">About</a>
    </nav>
    <div class="panel">
      <div class="panel-content">
        <h1>Golfing</h1>
        <p>
          Golfing is a fun, sometimes tedious, game to play by yourself or with toon friends, and it is
          yet another way to earn an additional 3 laff points for your toon! Any toon at any level can
          go to Chip N' Dales Golfing and put those putt-putt skills to play.
        </p>
        <div style="display:flex;justify-content:space-around;">
          <a href="#about">About Chip N' Dales Golf</a>
          <a href="#courses">Golfing Courses</a>
          <a href="#howtogolf">How to Golf</a>
          <a href="#trophies">Trophies</a>
        </div>
        <h2 id="about">About Chip N' Dales Golf</h2>
        <p>
          Golfing in Toontown is very similar to an online mini-golf game. Toons can play mini-golf over a
          series of holes to earn laff boosts and golfing trophies. Golfing can be played individually or with
          additional toons, up to a capacity of four. Each toon takes a turn until everyone gets the ball into
          the hole or reached a limit of three shots over par.
        </p>
        <p>
          So, you might be wondering how to get to Chip N' Dales Golf course. This playground can be found through
          a golf themed tunnel in Chip N' Dales Acorn Acres (displayed right). To get to Chip N' Dales Acorn Acres,
          there is a log tunnel near the pond in Donald's Dock (circled, displayed left). Once visited, you will have
          teleport access.
        </p>
        <img style="display:block;margin:10px auto;height:255px;width:auto;border-radius:1em;" src="../../images/golf-guide-maps.PNG" />
        <h2 id="courses">Golfing Courses</h2>
        <p>
          There are three courses available:
          <table>
            <thead>
              <tr>
                <th>Course</th>
                <th>Number of Holes</th>
                <th>Difficulty</th>
                <th>Kart Color</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Walk in the Par</td>
                <td>3</td>
                <td>Easy</td>
                <td>Green</td>
              </tr>
              <tr>
                <td>Holesome Fun</td>
                <td>6</td>
                <td>Medium</td>
                <td>Yellow</td>
              </tr>
              <tr>
                <td>The Hole Kit and Caboodle</td>
                <td>9</td>
                <td>Hard</td>
                <td>Red</td>
              </tr>
            </tbody>
          </table>
        </p>
        <p>
          Each course randomly selects holes that will be played in succession. At the end of a course, the player
          with the lowest number of points will be the winner, just like real mini-golf!
          Each golfing course can be accessed via the golfs karts located all around the golfing playground, as shown
          in the image below.
        </p>
        <img style="display:block;margin:10px auto;height:245px;width:auto;border-radius:1em;" src="../../images/golfholekarts.PNG" />
        <h2 id="howtogolf">How to Golf</h2>
        <p>
          When starting a game of golf, the instructions and controls will be displayed at the bottom of the screen.
          The main controls are the left (&#8592;) arrow key, the right (&#8594;) arrow key, and the CTRL  Upon starting
          each hole, a toon will be set-up at the beginning of the hole, as shown below. Always in the corner of the screen
          will be a pencil &#10000;. If clicked, it will display the current scores for all holes played for all golfers.
        </p>
        <img style="display:block;margin:5px auto;height:245px;width:auto;border-radius:1em;" src="../../images/golfing-1.PNG" />
        <h2 id="trophies">Trophies</h2>
        <p>
          Now we have reached the exciting part of golfing... There are 3 total laff points that can be earned by golfing!
          To get those laff boosts, the golfing trophies must be earned! There are 30 total earnable trophies and for each
          10 earned, a laff boost is rewarded. You think you are up for the challenge?
        </p>
        <img style="height:450px;width:auto;display:block;margin-left:auto;margin-right:auto;padding-bottom:10px;"
             src="../../images/golfing_trophies.png" title="Created by The Dogfather, Modified by Spike">
        <div style="display:flex;justify-content:space-around;">
          <a href="#about">About Chip N' Dales Golf</a>
          <a href="#courses">Golfing Courses</a>
          <a href="#howtogolf">How to Golf</a>
          <a href="#trophies">Trophies</a>
        </div>
      </div>
    </div>
    <div class="footer-panel">
      <div>
        <a href="../contact.html">Contact Spike</a>
        <a href="../faq.html">FAQ</a>
        <a href="../sitemap.html">Site Map</a>
      </div>
      <div>Spike's Rewritten Guide &copy; 2018</div>
    </div>
    <script src="../../shared/shrink-nav.js"></script>
  </body>
</html>