.left-align img {
	float: left;
	height: 35%;
	width: auto;
	margin-left: -15px;
}

.right-align img {
    float: right;
    height: 35%;
    width: auto;
    margin-right: -10px;
}

.img-hover {
	color: grey;
	font-style: italic;
	font-size: 12px;
}

.img-hover img {
	display: none;
}

.img-hover:hover img {
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 1em;
	box-shadow: 1px 1px 8px 1px silver;
	height: 350px;
	width: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 4px;
}