<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../theme.css" rel="stylesheet" type="text/css">
    <link href="../sidenav.css" rel="stylesheet" type="text/css">
    <link href="about.css" rel="stylesheet" type="text/css">
    <title>About | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  </head>
  <body id="main">
    <nav>
      <a href="../index.html">
        <img src="../images/spikes_unwritten_guide.png" alt="Spike's Unwritten Guide">Home
      </a>
      <div class="dropdown">
        <button class="dropbtn">Activities&#9662;
        </button>
        <div class="dropdown-content">
          <a href="activities/gardening/gardening.html">Gardening</a>
          <a href="activities/fishing/fishing.html">Fishing</a>
          <a href="activities/racing.html">Racing</a>
          <a href="activities/golfing.html">Golfing</a>
          <a href="activities/doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs&#9662;
        </button>
        <div class="dropdown-content">
          <a href="cogs/sellbot.html">Sellbot</a>
          <a href="cogs/cashbot.html">Cashbot</a>
          <a href="cogs/lawbot.html">Lawbot</a>
          <a href="cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <a href="toontips.html">Toon Tips</a>
      <a href="about.html">About</a>
    </nav>
    <div class="panel">
      <div class="panel-content">
        <div><h1>What's Up!</h1>
        <p>I am Spike! Your great and humble host. Welcome to or welcome back to <i>Spike's Rewritten Guide </i>!
           If you are new to this site, I am excited to have you! If you are returning, I appreciate
           your loyalty. Since you are on this page, I am glad to assume you have decided to show some 
           interest in why this site exists and to find out a little bit more about me!</p>
        <p>If you have a question or want to send me a greeting, you can reach out to me 
           <a href="contact.html">here</a>.</p>
        </div>
        <hr>
        <div>
          <div class="left-align">
            <img src="../images/oreo_confused.png" alt="oreo_confused">
          </div>
          <h2>Who is Spike?</h2>
          <p>As an easy answer, Spike is me!</p>
          <p>To be more complex... Spike is a red cat from the original Disney's Toontown Online game.
             As Spike, I reached 129 laff and roamed the streets of Toontown as a lureless toon. I always
             had a dream of making it to at least 130 laff points, but alack, Disney's Toontown decided to 
             close back in 2013. Spike was a major part of my childhood, which is why I kept my online persona
             as Spike and named this website after him.</p>
          <p>Of course, that does not explain why there is a weird looking light-blue cat with glasses
             running around this website...</p>
          <p class="img-hover">Move your mouse over here (click if on mobile) to see Spike on the last day of Toontown.
             <img src="../images/Last_Spike.png" alt="Spike September 18, 2013"></p>
        </div>
        <hr>
        <div>
          <div class="right-align">
            <img src="../images/oreo_smiles.png" alt="oreo_smiles">
          </div>
          <h2>Who is that light-blue cat?</h2>
          <p>That light-blue cat you're are seeing everywhere goes by the name Oreo and is, well, also me!
             Oreo is a 119 laff dropless toon from Toontown Rewritten. He received a beta key at the early
             stages of Toontown Rewritten and has been running about the streets ever since. Oreo is who you 
             will notice demonstrating almost all of the content on this site.</p>
          <p>So if you refer to me as either Spike or Oreo, I will react just the same!</p>
        </div>
        <hr>
        <div>
          <h2>So, What is the point of Spike's Rewritten Guide?</h2>
          <p>I cannot believe you asked this question...!</p>
          <p>All jokes aside, this Rewritten guide is here to help you navigate your way through toon tasks
             and other extra activities. If you ever had a question about how you do anything online Toontown, 
             here is the source to find your solution!</p>
          <p>This site will be constantly updated to enhance quality and add new content. If you believe something
             is unclear or should be added, please feel free to let me know <a href="contact.html">here</a>! 
             I appreciate any user feedback.</p>
        </div>
      </div>
    </div>
    <div class="footer-panel">
      <div>
        <a href="contact.html">Contact Spike</a>
        <a href="faq.html">FAQ</a>
        <a href="sitemap.html">Site Map</a>
      </div>
      <div>Spike's Rewritten Guide &copy; 2018</div>
    </div>
    <script src="../shared/shrink-nav.js"></script>
  </body>
</html>