<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href="../theme.css" rel="stylesheet" type="text/css">
    <link href="contact.css" rel="stylesheet" type="text/css">
    <title>Contact | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <script src="contact_form.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  </head>
  <body id="main">
    <nav>
      <a href="../index.html">
        <img src="../images/spikes_unwritten_guide.png" alt="Spike's Unwritten Guide">Home
      </a>
      <div class="dropdown">
        <button class="dropbtn">Activities&#9662;
        </button>
        <div class="dropdown-content">
          <a href="activities/gardening/gardening.html">Gardening</a>
          <a href="activities/fishing/fishing.html">Fishing</a>
          <a href="activities/racing.html">Racing</a>
          <a href="activities/golfing.html">Golfing</a>
          <a href="activities/doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs&#9662;
        </button>
        <div class="dropdown-content">
          <a href="cogs/sellbot.html">Sellbot</a>
          <a href="cogs/cashbot.html">Cashbot</a>
          <a href="cogs/lawbot.html">Lawbot</a>
          <a href="cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <a href="toontips.html">Toon Tips</a>
      <a href="about.html">About</a>
    </nav>
    <div class="panel">
      <div class="panel-content">
        <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf8bGO8Y4zVf2rRw6AUjP52g6safsLokum9N8lN-_UWVVavYg/viewform?embedded=true"
            width="900px" height="1200px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
        <h1>Send Spike a Message!</h1>
        <p>
          Page under construction. For now, send all inquiries directly to <b>spikes.rewritten.guide@gmail.com</b> or fill out this
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf8bGO8Y4zVf2rRw6AUjP52g6safsLokum9N8lN-_UWVVavYg/viewform?usp=sf_link" target="_blank">Google Form</a>
        </p>
        <form id="contactform">
          <label>Toon Name<span style="color:red;"> * </span></label>
          <input type="text" id="tname" placeholder="Please tell me your toon's name!">
          <label>Toon Species</label>
          <select id="toontype">
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="rabbit">Rabbit</option>
            <option value="horse">Horse</option>
            <option value="monkey">Monkey</option>
            <option value="mouse">Mouse</option>
            <option value="duck">Duck</option>
            <option value="pig">Pig</option>
            <option value="bear">Bear</option>
            <option value="deer">Deer</option>
            <option value="crocodile">Crocodile</option>
          </select>
          <label>Email Address<span style="color:red;"> * </span></label>
          <input type="email" id="returnaddr" placeholder="Please tell me your email so I can respond!">
          <label>Message<span style="color:red;"> * </span></label>
          <textarea id="message" placeholder="Type your message here!" style="height:200px"></textarea>
          <button type="submit" id="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="footer-panel">
      <div>
        <a href="contact.html">Contact Spike</a>
        <a href="faq.html">FAQ</a>
        <a href="sitemap.html">Site Map</a>
      </div>
      <div>Spike's Rewritten Guide &copy; 2018</div>
    </div>
    <script src="../shared/shrink-nav.js"></script>
  </body>
</html>
