<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../theme.css" rel="stylesheet" type="text/css">
    <link href="../sidenav.css" rel="stylesheet" type="text/css">    
    <title>FAQ | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
  </head>
  <body id="main">
    <div class="topnav">
      <a href="../index.html">
        <img src="../images/spikes_unwritten_guide.png" alt="Spike's Unwritten Guide">Home
      </a>
      <div class="dropdown">
        <button class="dropbtn">Activities&#9662
        </button>
        <div class="dropdown-content">
          <a href="activities/gardening/gardening.html">Gardening</a>
          <a href="activities/fishing/fishing.html">Fishing</a>
          <a href="activities/racing.html">Racing</a>
          <a href="activities/golfing.html">Golfing</a>
          <a href="activities/doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs&#9662
        </button>
        <div class="dropdown-content">
          <a href="cogs/sellbot.html">Sellbot</a>
          <a href="cogs/cashbot.html">Cashbot</a>
          <a href="cogs/lawbot.html">Lawbot</a>
          <a href="cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <a href="toontips.html">Toon Tips</a>
      <a href="about.html">About</a>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="../index.html">Home</a>
      <a href="javascript:void(0)" style="cursor:context-menu">Activities</a>
      <ul>
        <li><a href="activities/gardening/gardening.html">Gardening</a></li>
        <li><a href="activities/fishing/fishing.html">Fishing</a></li>
        <li><a href="activities/racing.html">Racing</a></li>
        <li><a href="activities/golfing.html">Golfing</a></li>
      </ul>
      <a href="javascript:void(0)" style="cursor:context-menu">Cogs</a>
      <ul>
        <li><a href="cogs/sellbot.html">Sellbot</a></li>
        <li><a href="cogs/cashbot.html">Cashbot</a></li>
        <li><a href="cogs/lawbot.html">Lawbot</a></li>
        <li><a href="cogs/bossbot.html">Bossbot</a></li>
      </ul>
      <a href="toontips.html">Toon Tips</a>
      <a href="about.html">About</a>
    </div>
    <div class="tooltip openbtn" onclick="openNav()">
      &#9776<span class="tooltiptext">Open Navigation</span>
    </div>
    <div class="panel">
        <div class="panel-content">
            <h1>Frequently Asked Questions</h1>
            <p>Got some questions? Make sense. You are on the Frequently Asked Questions page, after all!</p>
            <p>
              Take a peek at some of the questions below to see if that helps solve the riddle
              in your head. Always check back as there are constant updates and more common questions 
              might appear to help you out!
            </p>
            <p>
              If you cannot find what you need here, feel free to head over to the 
              <a href="contact.html">contact</a> page and send me (Spike) an inquiry!
            </p>
            <hr>
            <h2>What is the main difference between throw and squirt? What are the benefits of each?</h2>
            <p>
              As both throw and squirt are both single hit gag tracks, with the exception of a level 7 gag,
              it seems like there is no obvious difference between the two tracks. You may wonder why you even
              need squirt if you have throw. The main different betwen throw and squirt is accuracy. If you take
              a look at the gag details by hovering over any squirt gag in Gag Table, you will notice it
              says "Accuracy: High". If you following the same procedure for any throw gag, you will notice it says
              "Accuracy: Medium". Because of this, if you are trying to guarantee a hit, save yourself, or stun 
              for a fellow toon, squirt would be your best choice as it has a much better chance of actually hitting
              the cog you are up against. On the other hand, if you are trying to acheive more damage, quickly defeat
              a cog, or have your turn taken sooner (as gag turns are taken in top to bottom order), 
              then throw would be your better option as it has higher precidence and evokes higher damage.
            </p>
            <h2>Why is being a soundless toon such a bad thing?</h2>
            <p>
              Personally, I do not think there is any problem with being a soundless toon. Almost everyone in Toontown
              has sound, so one toon not having it does not seem like much of an issue for me. However, a lot of other
              toons feel differently than I do! A lot of toons feel that being soundless makes gamplay shorter amd it puts
              a hiccup in the typical gameplay strategy for multiple types of cog related activities. Sound is a quick way
              to defeat a round of cogs if used correctly and if one toon does not have sound, there are less opportunities
              to quickly run through a battle. With all of that being said, if you want to be a soundless toon, I strongly 
              encourage it! There are more gameplay strategies out there than just sound and it is a blast to explore more
              ways to play Toontown! And do not worry, there are plenty of toons out there who would be more than happy to
              include a soundless toon on their team!
            </p>
            <h2>How long have you been playing Toontown, Spike?</h2>
            <p>
              I do not mean to brag but..... I am just kidding! I have been a huge fan and active toon ever since the 
              opening of Disney's Toontown Online in 2003. I was barely 6 years old then but the love for the game carried through
              my childhood. Of course the closing of the original game was extremely disappointing but I am grateful for the revival.
              I received a beta key for Toontown Rewritten in 2014 and have been playing ever since.
            </p>
            <hr>
            <p>As always, if you have an account specific, troubleshooting, or [non-profit] company
              specific question for a Toontown Rewritten cast member, check out the official 
              Toontown Rewritten <a href="https://www.toontownrewritten.com/help" target="_Blank">help</a> page.
            </p>
        </div>
    </div>
    <div class="footer-panel">
      <div>
        <a href="contact.html">Contact Spike</a>
        <a href="faq.html">FAQ</a>
        <a href="sitemap.html">Site Map</a>
      </div>
      <div>Spike's Rewritten Guide © 2018</div>
    </div>
    <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "255px";
          document.getElementById("main").style.marginLeft = "255px";
      }
      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </body>
</html>