<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../theme.css" rel="stylesheet" type="text/css">
    <link href="../sidenav.css" rel="stylesheet" type="text/css">
    <title>Toon Tips | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  </head>
  <body id="main">
    <nav>
      <a href="../index.html">
        <img src="../images/spikes_unwritten_guide.png" alt="Spike's Unwritten Guide">Home
      </a>
      <div class="dropdown">
        <button class="dropbtn">Activities&#9662
        </button>
        <div class="dropdown-content">
          <a href="activities/gardening/gardening.html">Gardening</a>
          <a href="activities/fishing/fishing.html">Fishing</a>
          <a href="activities/racing.html">Racing</a>
          <a href="activities/golfing.html">Golfing</a>
          <a href="activities/doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs&#9662
        </button>
        <div class="dropdown-content">
          <a href="cogs/sellbot.html">Sellbot</a>
          <a href="cogs/cashbot.html">Cashbot</a>
          <a href="cogs/lawbot.html">Lawbot</a>
          <a href="cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <a href="toontips.html">Toon Tips</a>
      <a href="about.html">About</a>
    </nav>
    <div class="footer-panel">
      <div>
        <a href="contact.html">Contact Spike</a>
        <a href="faq.html">FAQ</a>
        <a href="sitemap.html">Site Map</a>
      </div>
      <div>Spike's Rewritten Guide &copy; 2018</div>
    </div>
    <script src="../shared/shrink-nav.js"></script>
  </body>
</html>