body {
	position: relative;
	margin: 0;
	min-height: 100%;
	padding-bottom: 4rem;
	padding-top: 6rem;
	font-family: 'Roboto', sans-serif;
	background-color: #cae6f4;
	background: url('../images/chipndales-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	color: #333;
}

body h1, h2, h3 {
    font-family: 'Luckiest Guy', cursive;
	color: #333;
	font-weight: 400;
}

nav {
	position: absolute;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5px 15px;
	background-color: rgba(255, 255, 255, 0.45);
	border-bottom: 1px solid #6294d655;
	transition: all .4s ease-in-out;
	overflow: visible;
	z-index: 1;
}

nav a {
	cursor: pointer;
	float: left;
	color: white;
	font-family: 'Luckiest Guy', cursive;
	font-weight: 400;
	text-align: center;
	padding: 30px 40px;
	text-decoration: none;
	text-shadow: 0 0 13px #285b9f;
	font-size: 25px;
	transition: text-shadow .15s linear;
}

.shrink a {
	padding: 9px 30px;
	font-size: 20px;
}

.shrink img {
    margin: -9px -50px;
	padding: 0 75px 0 12px;
	height: 45px;
}

.dropdown .dropbtn {
	cursor: pointer;
	font-family: 'Luckiest Guy', cursive;
	text-shadow: 0 0 13px #285b9f;
	font-weight: 400;
	font-size: 25px;
	border: none;
	outline: none;
	color: white;
	padding: 30px 37px 30px 40px;
	margin: 0;
	transition: text-shadow .15s linear;
	background-color: inherit;
}

.shrink .dropdown .dropbtn {
	font-size: 20px;
	padding: 9px 27px 9px 30px;
}

nav .dropdown-content {
	display: none;
	position: absolute;
	width: auto;
	margin: -30px 0 0 -30px;
	padding: 0 60px 50px 27px;
	background-image: url('../images/cartoon-cloud.png');
	background-repeat: no-repeat;
	background-size: 100% 150px;
	z-index: 1;
}

.shrink .dropdown-content {
	margin: -11px 0 0 -20px;
	padding: 0 55px 45px 24px;
	background-size: 100% 98px;
}

nav .dropdown-content a {
	color: white;
	padding: 67px 30px 30px 30px;
	font-family: 'Luckiest Guy', cursive;
	font-weight: 400;
	text-decoration: none;
    text-shadow: 0 0 10px red;
    text-align: center;
	font-size: 20px;
}

.shrink .dropdown-content a {
	padding: 40px 17px 17px 17px;
	font-size: 17px;
}

.backtotop-link {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: calc(100vh - 115px);
	right: 5px;
	padding: 10px 12px;
	margin: 35px;
	background-color: rgba(255, 255, 255, 0.45);
	border: 1px solid #6294d655;
	border-radius: 5px;
	transition: .5s;
}

.backtotop-link a {
	color: #6294d6;
	font-size: 14px;
}

.panel {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 1em;
	width: 60em;
	margin-top: 6em;
	margin-bottom: 2em;
	box-shadow: 1px 1px 8px 1px silver;
}

.panel-content {
	padding: 5px 30px 17px 30px;
}

.footer-panel {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 27px;
	color: #6294d6;
	display: flex;
	justify-content:space-between;
	margin-top: 7em;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.45);
	border-top: 1px solid #6294d655;
	font-size: 13px;
	vertical-align: top;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cae6f465;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6294d665;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3469af65;
}

/** list css */
.list ul {
	display: block;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	background-color: rgba(255, 255, 255);
	font-family: 'Luckiest Guy', cursive;
	font-weight: 400;
	font-size: 18px;
	border-radius: 1em;
	box-shadow: 1px 1px 8px 1px silver;
	width: 30em;
	height: auto;
	text-align: center;
	margin-bottom: 15px;
	padding: 20px 0 20px 0;
}

.list ul table tr td {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.list ul .bean-colors {
	padding: 10px 5px 0 5px;
	font-family: 'Roboto', sans-serif;
}

.list .filtering button {
	border: 1px solid #3069ba;
	box-sizing: border-box;
	padding: 7px;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	color: #3069ba;
	font-size: 17px;
	cursor: pointer;
}

.list .filtering button:first-child {
	border-radius: 5px 0 0 5px;
}

.list .filtering button:last-child {
    border-radius: 0 5px 5px 0;
}

.list .filtering button:hover, .list .filtering .active {
	background-color: #3069ba50;
}

.theme-select {
	border: 1px solid #6294d655 !important;
	border-radius: 5px !important;
    font-family: 'Roboto', sans-serif !important;
	color: grey !important;
	font-size: 11px;
}

.disclaimer {
	text-align: center;
	color: #6294d690;
	font-size: 12px;
	width: 100%;
}