body {
	opacity: 1;
	transition: 0.7s opacity;
}

body.fade {
	opacity: 0;
	transition: none;
}

.list h2 {
	text-align: center;
	margin-bottom: -15px;
	padding-top: 20px;
}

.list {
    margin-bottom: 3em;
}

.list ul {
	display: block;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	background-color: rgba(255, 255, 255);
	font-family: 'Luckiest Guy', cursive;
	font-weight: 400;
	font-size: 18px;
	border-radius: 1em;
	box-shadow: 1px 1px 8px 1px silver;
	width: 30em;
	height: auto;
	text-align: center;
	margin-bottom: 15px;
	padding: 20px 0 20px 0;
}

.list ul table tr td {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.list ul table tr th {
	font-weight: 400;
}

.list ul table td:not(:last-child) {
	border-right: 1px solid #ddd;
}

.list-navigation {
	color: red;
	font-size: 13px;
	text-align: center;
	margin: -25px 0 2.5em 0;
}

.list ul a {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	float: right;
	padding: 23px 5px 15px 5px;
}

.list ul .bean-colors {
	padding: 10px 5px 0 5px;
	font-family: 'Roboto', sans-serif;
}

.list ul img {
	padding: 15px 0 0 0;
}

.list .filtering {
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
}

.list .filtering button {
	border: 1px solid #3069ba;
	box-sizing: border-box;
	padding: 7px;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	color: #3069ba;
	font-size: 17px;
	cursor: pointer;
}

.list .filtering button:not(:last-child) {
	border-right: none;
}

.list .filtering button:first-child {
	border-radius: 5px 0 0 5px;
}

.list .filtering button:last-child {
    border-radius: 0 5px 5px 0;
}

.list .filtering button:hover, .list .filtering .active {
	background-color: #3069ba50;
}

.list-fish {
	width: 125px;
	height: auto;
}