html {
	height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
	padding-bottom: 4rem;
	padding-top: 6rem;
	font-family: 'Roboto', sans-serif;
	background-color: #cae6f4;
	background: url('../images/cogs/sellbots/SellbotHQ2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	color: #333;
}

body h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
	color: #333;
	font-weight: 400;
}

body p {
    color: #333;
}

body a {
	color: red;
}

body h1 a, h2 a {
	color: #333;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
	border-top: 1px solid #eee;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
    vertical-align: bottom;
}

td, th {
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding: 3px;
}

tbody tr td img {
	vertical-align: middle;
	height: auto;
	width: 80px;
}

tbody tr {
	transition: background-color .15s linear;
}

tbody tr:hover {
	background-color: #f5f5f5;
}

tr th img {
	width: 30px;
	height: auto;
}

nav {
	position: absolute;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5px 15px;
	background-color: rgba(255, 255, 255, 0.45);
	border-bottom: 1px solid #64264755;
	transition: all .4s ease-in-out;
	overflow: visible;
	z-index: 1;
}

.shrink {
	position: fixed;
    margin-bottom: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.45);
}

nav a {
	cursor: pointer;
	float: left;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-weight: 400;
	text-align: center;
	padding: 25px 40px;
	text-decoration: none;
	text-shadow: 0 0 13px #561630;
	font-size: 25px;
	transition: text-shadow .15s linear;
}

.shrink a {
	padding: 6px 30px;
	font-size: 20px;
}

nav img {
	margin: -30px -50px;
	padding: 10px 85px 0 10px;
	float: left;
	height: 85px;
	width: auto;
	cursor: pointer;
}

.shrink img {
    margin: -9px -50px;
	padding: 0 75px 0 12px;
	height: 45px;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	cursor: pointer;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 0 0 13px #561630;
	font-weight: 400;
	font-size: 25px;
	border: none;
	outline: none;
	color: white;
	padding: 25px 37px 25px 40px;
	margin: 0;
	transition: text-shadow .15s linear;
	background-color: inherit;
}

.shrink .dropdown .dropbtn {
	font-size: 20px;
	padding: 6px 27px 6px 30px;
}

nav a:hover, .dropdown:hover .dropbtn {
	text-shadow: 0 0 13px red;
}

nav .dropdown-content {
	display: none;
	position: absolute;
	width: auto;
	margin-top: -15px;
	padding: 0 5px;
	background: url('../images/cogs/sellbots/grid.png');
	background-size: 130px 145px !important; 
	background-repeat: repeat;
	border: 15px solid transparent;
	border-image: url('../images/cogs/metal_border.png') 30;
	z-index: 1;
	box-shadow: 1px 1px 8px 1px rgb(61, 61, 61);
}

.shrink .dropdown-content {
	margin-top: -3px;
}

nav .dropdown-content a {
	color: white;
	padding: 20px;
	font-family: 'Permanent Marker', cursive;
	font-weight: 400;
	text-decoration: none;
    text-shadow: 0 0 10px red;
    text-align: center;
	font-size: 20px;
}

.shrink .dropdown-content a {
	padding: 12px;
	font-size: 17px;
}

nav .dropdown:hover .dropdown-content {
	display: block;
}

.logo img {
	display: block;
	padding-top: 6em;
	max-width: 85em;
	width: 100%;
	margin: -2em auto;
}

.show {
	visibility: visible !important;
	opacity: 1 !important;
	transition: .5s;
}

.backtotop-link {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: calc(100vh - 115px);
	right: 5px;
	padding: 10px 12px;
	margin: 35px;
	background-color: rgba(255, 255, 255, 0.45);
	border: 1px solid #64264755;
	border-radius: 3px;
	transition: .5s;
}

.backtotop-link a {
	color: #642647;
	font-size: 14px;
}

.panel {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 15px solid transparent;
	border-image: url('../images/cogs/metal_border.png') 30;
	width: 60em;
	margin-top: 6em;
	margin-bottom: 2em;
	box-shadow: 1px 1px 8px 1px rgb(61, 61, 61);
}

.panel-content {
	padding: 5px 30px 17px 30px;
}

.footer-panel {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 27px;
	color: #642647;
	display: flex;
	justify-content:space-between;
	margin-top: 7em;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.45);
	border-top: 1px solid #64264755;
	font-size: 13px;
	vertical-align: top;
}

.footer-panel a {
	transition: text-shadow .15s linear;
	text-decoration: none;
	padding: 0 7px;
}

.footer-panel a:hover {
	text-shadow: 0 0 7px red;
}

ul li {
	padding: 5px;
	font-size: 18px;
	font-weight: 400;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ca9cb565;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #64264765;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #57073165;
}

/** list css */
.list h2 {
	text-align: center;
	margin-bottom: -15px;
	padding-top: 20px;
}

.list {
    margin-bottom: 3em;
}

.list ul {
	display: block;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	background-color: rgba(255, 255, 255);
	font-family: 'Permanent Marker', cursive;
	font-weight: 400;
	font-size: 18px;
	border: 15px solid transparent;
	border-image: url('../images/cogs/metal_border.png') 30;
	box-shadow: 1px 1px 8px 1px rgb(61, 61, 61);
	width: 30em;
	height: auto;
	text-align: center;
	margin-bottom: 15px;
	padding: 20px 0 20px 0;
}

.list ul table tr td {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.list ul table tr th {
	font-weight: 400;
}

.list ul table td:not(:last-child) {
	border-right: 1px solid #ddd;
}

.list-navigation {
	color: red;
	font-size: 13px;
	text-align: center;
	margin: -25px 0 2.5em 0;
}

.list ul .bean-colors {
	padding: 10px 5px 0 5px;
	font-family: 'Roboto', sans-serif;
}

.list ul img {
	padding: 15px 0 0 0;
}

.list .filtering {
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
}

.list .filtering button {
	border: 1px solid #642647;
	box-sizing: border-box;
	padding: 7px;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	color: #642647;
	font-size: 17px;
	cursor: pointer;
}

.list .filtering button:not(:last-child) {
	border-right: none;
}

.list .filtering button:first-child {
	border-radius: 3px 0 0 3px;
}

.list .filtering button:last-child {
    border-radius: 0 3px 3px 0;
}

.list .filtering button:hover, .list .filtering .active {
	background-color: #64264750;
}

.list-fish {
	width: 125px;
	height: auto;
}

.theme-select {
	border: 1px solid #64264755 !important;
	border-radius: 3px !important;
    font-family: 'Roboto', sans-serif !important;
	color: grey !important;
	font-size: 11px;
}

.book-tab {
	margin-bottom: -6px;
	width: auto;
	height: 25px;
}

.disclaimer {
	text-align: center;
	color: #64264790;
	font-size: 12px;
	width: 100%;
}