html {
	height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body p {
    color: #333;
}

body a {
	color: red;
}

body h1 a, h2 a {
	color: #333;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
	border-top: 1px solid #eee;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
    vertical-align: bottom;
}

td, th {
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding: 3px;
}

tbody tr td img {
	vertical-align: middle;
	height: auto;
	width: 80px;
}

tbody tr {
	transition: background-color .15s linear;
}

tbody tr:hover {
	background-color: #f5f5f5;
}

tr th img {
	width: 30px;
	height: auto;
}

.shrink {
	position: fixed;
    margin-bottom: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.45);
}

nav img {
	margin: -30px -50px;
	padding: 10px 85px 0 10px;
	float: left;
	height: 85px;
	width: auto;
	cursor: pointer;
}

.dropdown {
	float: left;
	overflow: hidden;
}

nav a:hover, .dropdown:hover .dropbtn {
	text-shadow: 0 0 13px red;
}

nav .dropdown:hover .dropdown-content {
	display: block;
}

.logo img {
	display: block;
	padding-top: 6em;
	max-width: 85em;
	width: 100%;
	margin: -2em auto;
}

.show {
	visibility: visible !important;
	opacity: 1 !important;
	transition: .5s;
}

.footer-panel a {
	transition: text-shadow .15s linear;
	text-decoration: none;
	padding: 0 7px;
}

.footer-panel a:hover {
	text-shadow: 0 0 7px red;
}

ul li {
	padding: 5px;
	font-size: 18px;
	font-weight: 400;
}

/** list css */
.list h2 {
	text-align: center;
	margin-bottom: -15px;
	padding-top: 20px;
}

.list {
    margin-bottom: 3em;
}

.list ul table tr th {
	font-weight: 400;
}

.list ul table td:not(:last-child) {
	border-right: 1px solid #ddd;
}

.list-navigation {
	color: red;
	font-size: 13px;
	text-align: center;
	margin: -25px 0 2.5em 0;
}

.list ul img {
	padding: 15px 0 0 0;
}

.list .filtering {
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
}

.list .filtering button:not(:last-child) {
	border-right: none;
}

.list-fish {
	width: 125px;
	height: auto;
}

.book-tab {
	margin-bottom: -6px;
	width: auto;
	height: 25px;
}