@{
    ViewData["Title"] = "Bossbots";
}

<link href="~/css/cogs.css" rel="stylesheet" type="text/css">

<div class="panel">
    <div class="panel-content">
        <h1>Bossbots <img class="cog-seal" src="~/images/cogs/BossbotHD.png" /></h1>
    </div>
</div>