@{
    ViewData["Title"] = "Bossbots";
}

<div class="panel">
    <div class="panel-content">
        <h1>Bossbots</h1>
        <p>
            Bossbots are one of the four tiers of cogs found in Toontown. This group represents 
            the management of the cogs, being the top of the coprorate ladder. They are the top ranked cogs. 
            The Bossbot Headquarters is the home of the Bossbots. The boss of all Bossbots is the Chief Executive Officer,
            which toons can battle in Bossbot HQ.
        </p>
        <img src="~/images/cogs/BossbotHD.png" style="display:block;float:right;margin:-30px 0 0 5px;height:80px;width:auto;border-radius:1em;"/>
        <p>
            Bossbots can be identified by their cog symbol, which is light-brown in color and has 
            a striped tie symbol on it (displayed to the right).
        </p>
        <div style="display:flex;justify-content:space-around;">
            <a href="#list">List of Bossbots</a>
            <a href="#where">Where to Find Bossbots</a>
            <a href="#hq">Bossbot HQ</a>
            <a href="#suit">Building a Bossbot Disguise</a>
            <a href="#pinkslip">Pink Slips</a>
        </div>
        <h2 id="list">List of Bossbots</h2>
        <table>
            <thead>
                <tr>
                    <th>Cog Name</th>
                    <th>Level Range</th>
                    <th>Headshot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Flunky</td>
                    <td>1 - 5</td>
                    <td><img src="~/images/cogs/bossbots/Flunky2.png" /></td>
                </tr>
                <tr>
                    <td>Pencil Pusher</td>
                    <td>2 - 6</td>
                    <td><img src="~/images/cogs/bossbots/Pencilpusher2.png" /></td>
                </tr>
                <tr>
                    <td>Yesman</td>
                    <td>3 - 7</td>
                    <td><img src="~/images/cogs/bossbots/Yesman2.png" /></td>
                </tr>
                <tr>
                    <td>Micromanager</td>
                    <td>4 - 8</td>
                    <td><img src="~/images/cogs/bossbots/Micromanager2.png" /></td>
                </tr>
                <tr>
                    <td>Downsizer</td>
                    <td>5 - 9</td>
                    <td><img src="~/images/cogs/bossbots/Downsizer2.png" /></td>
                </tr>
                <tr>
                    <td>Head Hunter</td>
                    <td>6 - 10</td>
                    <td><img src="~/images/cogs/bossbots/Headhunter2.png" /></td>
                </tr>
                <tr>
                    <td>Corporate Raider</td>
                    <td>7 - 11</td>
                    <td><img src="~/images/cogs/bossbots/Corporate_Raider2.png" /></td>
                </tr>
                <tr>
                    <td>The Big Cheese</td>
                    <td>8 - 12</td>
                    <td><img src="~/images/cogs/bossbots/Thebigcheese2.png" /></td>
                </tr>
            </tbody>
        </table>
        <h2 id="where">Where to Find Bossbots</h2>
        <table>
            <thead>
                <tr>
                    <th>Street</th>
                    <th>Playground</th>
                    <th>Percentage Found</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Punchline Place</td>
                    <td>Toontown Central</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Silly Street</td>
                    <td>Toontown Central</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Loopy Lane</td>
                    <td>Toontown Central</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Barnacle Boulevard</td>
                    <td>Donald's Dock</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>Lighthouse Lane</td>
                    <td>Donald's Dock</td>
                    <td>40%</td>
                </tr>
                <tr>
                    <td>Oak Street</td>
                    <td>Daisy Gardens</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>Maple Street</td>
                    <td>Daisy Gardens</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Tenor Terrace</td>
                    <td>Minnie's Melodyland</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>Sleet Street</td>
                    <td>The Brrrgh</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Walrus Way</td>
                    <td>The Brrrgh</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>Polar Place</td>
                    <td>The Brrrgh</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>Lullaby Lane</td>
                    <td>Donald's Dreamland</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Pajama Place</td>
                    <td>Donald's Dreamland</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bossbot Headquarters</td>
                    <td>100%</td>
                </tr>
            </tbody>
        </table>
        <h2 id="hq">Bossbot HQ</h2>
        <p>
            Bossbot Headquarters, or often referred to as Bossbot HQ, is the base of all Bossbot operations.
            The entrace is located in <a asp-area="" asp-controller="Home" asp-action="Golfing">Chip N' Dales MiniGolf Playground</a>. 
            You surely cannot miss the dark and gloomy tunnel in the minigolf playground! When visiting this headquarters, 
            toons can access the Clubhouse and Cog Golf Courses. There is the Executive Office Tower, 
            however, this is not accessible yet!
        </p>
        <img class="content-img" style="height:310px;" src="~/images/cogs/bossbots/bbhq.png" />
        <h3>Cog Golf Courses</h3>
        <h3>The Chief Executive Officer</h3>
        <p>
            The Chief Executive Officer, otherwise known as the C.E.O., is the boss of the Bossbots. He lives in the 
            Bossbot Clubhouse in Bossbot HQ.
        </p>
        <img class="content-img" style="height:235px;border-radius:unset;" src="~/images/cogs/bossbots/Chief_Executive_Officer.png" />
        <p>
            Once a toon has a Bossbot suit disguise and has earned a promotion, they can fight the C.E.O. To access the
            C.E.O. battle, a toon must enter the Bossbot Clubhouse that is located in the back of the headquarters. The 
            entraces is eery and sppoky in appearance (shown below). 
        </p>
        <img class="content-img" style="height:250px;" src="~/images/cogs/bossbots/clubhouse.png" />
        <p>
            A toon can enter this battle with a maximum of 7 other toons. Once all 
            participating toons have gone up the elevator, toons will find themselves in a kitchen used
            to prepare food for the C.E.O. Toons will be greeted by Good ol' Gil Giggles with two Version 2.0
            Cog battles on either side of the kitchen. Version 2.0 consist of a cog suit and a skelecog, upon 
            intial destruction, a skelecog will takes the cogs place and continue to battle. 
            Toons must battle these cogs, which represent Bossbot cog waiters in their white suits, until 
            they are all defeated. Proceeding these battles, toons will enter the dining room wearing new waiter
            cog disguises. Toons must feed as many cogs as they can three oil cans in 5 minutes. Once the 5 minutes
            is up, the C.E.O. will finally realize the cog waiters are actually toons! Toons disguises will be removed
            and the remaining cogs from the previous round (if any are left) will engage in battle. Finally, once those
            remaining cogs are defeated, toons will fight the C.E.O. himself by harming him with seltzer water and slowing 
            him down with golf balls. Once the C.E.O. is defeated and shamefully turned in a Flunky, toons will be rewarded 
            one or more <a href="#pinkslip">pink slips</a>.
        </p>
        <p>~C.E.O. walkthrough video soon to come!~</p>
        <h2 id="suit">Building a Bossbot Disguise</h2>
        <h2 id="pinkslip">Pink Slips</h2>
        <br><br>
        <div style="display:flex;justify-content:space-around;">
            <a href="#list">List of Bossbots</a>
            <a href="#where">Where to Find Bossbots</a>
            <a href="#hq">Bossbot HQ</a>
            <a href="#suit">Building a Bossbot Disguise</a>
            <a href="#pinkslip">Pink Slips</a>
        </div>
    </div>
</div>