@{
    ViewData["Title"] = "Cashbots";
}

<div class="panel">
    <div class="panel-content">
        <h1>Cashbots</h1>
        <p>
            Cashbots are one of the four tiers of cogs found in Toontown. As an overview, they represent 
            the finance and money management and are the 3rd ranked cogs. The Cashbot Headquarters is 
            the home of the Cashbots and is most likely a headquarters a toon will visit when they are 
            working on Donald's Dreamland toontasks. The head of all Cashbots is the Chief Financial Officer,
            which toons can battle in Cashbot HQ.
        </p>
        <img src="~/images/cogs/CashbotHD.png" style="display:block;float:right;margin:-30px 0 0 5px;height:80px;width:auto;border-radius:1em;"/>
        <p>
            Cashbots can be identified by their cog symbol, which is light-green in color and has 
            a cash symbol (<b>&#xFF04;</b>) on it (displayed to the right).
        </p>
        <div style="display:flex;justify-content:space-around;">
            <a href="#list">List of Cashbots</a>
            <a href="#where">Where to Find Cashbots</a>
            <a href="#hq">Cashbot HQ</a>
            <a href="#suit">Building a Cashbot Suit Disguise</a>
        </div>
        <h2 id="list">List of Cashbots</h2>
        <table>
            <thead>
                <tr>
                    <th>Cog Name</th>
                    <th>Level Range</th>
                    <th>Headshot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Short Change</td>
                    <td>1 - 5</td>
                    <td><img src="~/images/cogs/cashbots/Short_change.png" /></td>
                </tr>
                <tr>
                    <td>Penny Pincher</td>
                    <td>2 - 6</td>
                    <td><img src="~/images/cogs/cashbots/Penny_pincher.png" /></td>
                </tr>
                <tr>
                    <td>Tightwad</td>
                    <td>3 - 7</td>
                    <td><img src="~/images/cogs/cashbots/Tightwad.png" /></td>
                </tr>
                <tr>
                    <td>Bean Counter</td>
                    <td>4 - 8</td>
                    <td><img src="~/images/cogs/cashbots/Bean_counter.png" /></td>
                </tr>
                <tr>
                    <td>Number Cruncher</td>
                    <td>5 - 9</td>
                    <td><img src="~/images/cogs/cashbots/Number_cruncher.png" /></td>
                </tr>
                <tr>
                    <td>Money Bags</td>
                    <td>6 - 10</td>
                    <td><img src="~/images/cogs/cashbots/Money_bags.png" /></td>
                </tr>
                <tr>
                    <td>Loan Shark</td>
                    <td>7 - 11</td>
                    <td><img src="~/images/cogs/cashbots/Loan_shark.png" /></td>
                </tr>
                <tr>
                    <td>Robber Baron</td>
                    <td>8 - 12</td>
                    <td><img src="~/images/cogs/cashbots/Robber_baron.png" /></td>
                </tr>
            </tbody>
        </table>
        <h2 id="where">Where to Find Cashbots</h2>
        <table>
            <thead>
                <tr>
                    <th>Street</th>
                    <th>Playground</th>
                    <th>Percentage Found</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Punchline Place</td>
                    <td>Toontown Central</td>
                    <td>40%</td>
                </tr>
                <tr>
                    <td>Silly Street</td>
                    <td>Toontown Central</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Loopy Lane</td>
                    <td>Toontown Central</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Seaweed Street</td>
                    <td>Donald's Dock</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>Lighthouse Lane</td>
                    <td>Donald's Dock</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Oak Street</td>
                    <td>Daisy Gardens</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>Elm Street</td>
                    <td>Daisy Gardens</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Alto Avenue</td>
                    <td>Minnie's Melodyland</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>Baritone Boulevard</td>
                    <td>Minnie's Melodyland</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>Sleet Street</td>
                    <td>The Brrrgh</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td>Polar Place</td>
                    <td>The Brrrgh</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>Lullaby Lane</td>
                    <td>Donald's Dreamland</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Pajama Place</td>
                    <td>Donald's Dreamland</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Cashbot Headquarters</td>
                    <td>100%</td>
                </tr>
            </tbody>
        </table>
        <h2 id="hq">Cashbot HQ</h2>
        <p>
            Cashbot Headquarters, or often referred to as Cashbot HQ, is the base of all Cashbot operations.
            It is located at the end of Pajama Place in Donald's Dreamland. Within the headquarters, there are
            three elevators that lead to three different types of cog mints. Additionally, on the opposite side
            of the headquarters is the Cashbot vault. More detail on these areas will be explained below.
        </p>
        <!-- cbhq pic -->
        <p>
            Caution! When navigating the train yard in the headquarters, watch out for trains when crossing 
            the tracks, they will run you over! This will deduct 10 laff points. Pesky cogs! 
        </p>
        <h3>Cashbot Mints</h3>
        <p>
            Cashbot Mints are facilities of the headquarters. There are three types of mints: Coin Mint, Dollar
            Mint, and Bullion Mint. The shortest mint is the Coin Mint while the longest mint is the Bullion Mint.
            Elevators to enter the mints are spread across the train yard, the Coin Mint being the closest elevator
            to the entrance of the headquarters. However, toons can form boarding groups with others toon to take on
            a mint of their chosing.
        </p>
        <h4>Mint Statistics</h4>
        <table>
            <thead>
                <tr>
                    <th>Mint</th>
                    <th>Minimum Laff Requirement</th>
                    <th>Number of Cogs</th>
                    <th>Cogbucks Earned</th>
                    <th>Gag XP Multiplier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Coin Mint</td>
                    <td>0</td>
                    <td>16 - 24</td>
                    <td>356 - 544</td>
                    <td>4x</td>
                </tr>
                <tr>
                    <td>Dollar Mint</td>
                    <td>66</td>
                    <td>24 - 36</td>
                    <td>679 - 1004</td>
                    <td>5x</td>
                </tr>
                <tr>
                    <td>Bullion Mint</td>
                    <td>71</td>
                    <td>36 - 44</td>
                    <td>1202 - 1496</td>
                    <td>6x</td>
                </tr>
            </tbody>
        </table>
        <p>
            The cogs in each mint range from level 10 to level 11, with the supervisor being level 12. The lowest cog
            type found in a cog mint is a Money Bags. The purpose of completing a cog mints is to collect cogbucks to 
            earn a promotion on a Cashbot suit. Coin Mints are typically used by lower level Cashbot suits, Dollar Mints are
            typically used by mid-level Cashbot suits such as the Bean Counter and Number Cruncher, and Bullion Mints are typically
            used by higher level Cashbot suits. Click <a href="#suit">here</a> to learn how to build a Cashbot suit.
        </p>
        <h4>Mint Floor Plans</h4>
        <p>
            Everytime a toon goes into a mint, most likely the floor plan will be different. It is not always the same
            layout like a Sellbot Factory is. There are 20 different types of floor plans per mint, each consisting of a different
            number of cogs and obstacles. In order to get to the next room, toons must overcome these obstacles or defeat the cogs 
            that are in the way.
        </p>
        <table>
            <thead>
                <tr>
                    <th>Floor / Obstacle</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Paint Mixer Room</td>
                    <td>
                        Toons must jump onto three separate moving platforms to across, without falling into the paint. Falling
                        into the paint will deduct 8 laff points.
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Chief Financial Officer</h3>
        <p>
            The Chief Financial Officer, with the nickname C.F.O., is the overseer of the Cashbots. He resides within 
            the Cashbot Vault in Cashbot HQ.
        </p>
        <img style="display:block;margin:0 auto;height:225px;width:auto" src="~/images/cogs/cashbots/Chief_Financial_Officer.png" />
        <p>
            After successfully building a cashbot suit disguise and earning a promotion, a toon can the C.F.O. To enter the
            C.F.O. battle, a toon must enter the Cashbot Vault doors (through the giant double doors across the headquarters, 
            shown below). A toon can enter this battle with a maximum of 7 other toons. Once everyone has gone up the elevator, 
            an orange monkey named Mata Hairy will be there. Mata Hairy tries to sneak into the vault but is caught instantly by
            the C.F.O. himself! From there, the toons will have to fight some Cashbots before fighting the C.F.O. The final battle
            against the C.F.O. consists of stomping goons and using giant magnet cranes to throw those goons and safes at the C.F.O.'s head.
            Be careful, the goons light deals more damage as the C.F.O. takes more damage. Upon defeat, toons will celebrate and 
            be rewared with a speedchat unite!
        </p>
        <p>
            Here's a tip: do NOT throw a safe at the C.F.O. unless he is stunned! That will provide him with a helmet that blocks all attacks.
        </p>
        <!-- cashbot vault pic -->
        <p>
            ~C.F.O. walkthrough video soon to come!~
        </p>
        <br><br>
        <div style="display:flex;justify-content:space-around;">
            <a href="#list">List of Cashbots</a>
            <a href="#where">Where to Find Cashbots</a>
            <a href="#hq">Cashbot HQ</a>
        </div>
    </div>
</div>