@{
    ViewData["Title"] = "Lawbots";
}

<link href="~/css/cogs.css" rel="stylesheet" type="text/css">

<div class="panel">
    <div class="panel-content">
        <h1>Lawbots <img class="cog-seal" src="~/images/cogs/LawbotHD.png" /></h1>
    </div>
</div>