@{
    ViewData["Title"] = "Lawbots";
}

<div class="panel">
    <div class="panel-content">
        <h1>Lawbots</h1>
        <p>
            Lawbots are one of the four tiers of cogs found in Toontown. This group represents 
            law enforcement and federal law operations. They are the 2nd ranked cogs. The Lawbot Headquarters is 
            the home of the Lawbots. The boss of all Lawbots is the Chief Justice,
            which toons can battle in Lawbot HQ.
        </p>
        <img src="~/images/cogs/LawbotHD.png" style="display:block;float:right;margin:-30px 0 0 5px;height:80px;width:auto;border-radius:1em;"/>
        <p>
            Lawbots can be identified by their cog symbol, which is light-blue in color and has 
            a gavel symbol on it (displayed to the right). Lawbots are also the only cog type that 
            wears a bow tie.
        </p>
        <div style="display:flex;justify-content:space-around;">
            <a href="#list">List of Lawbots</a>
            <a href="#where">Where to Find Lawbots</a>
            <a href="#hq">Lawbot HQ</a>
            <a href="#suit">Building a Lawbot Disguise</a>
            <a href="#summon">Cog Summons</a>
        </div>
        <h2 id="list">List of Lawbots</h2>
        <table>
            <thead>
                <tr>
                    <th>Cog Name</th>
                    <th>Level Range</th>
                    <th>Headshot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bottom Feeder</td>
                    <td>1 - 5</td>
                    <td><img src="~/images/cogs/lawbots/BottomFeeder2.png" /></td>
                </tr>
                <tr>
                    <td>Bloodsucker</td>
                    <td>2 - 6</td>
                    <td><img src="~/images/cogs/lawbots/Bloodsucker2.png" /></td>
                </tr>
                <tr>
                    <td>Double Talker</td>
                    <td>3 - 7</td>
                    <td><img src="~/images/cogs/lawbots/Doubletalker2.png" /></td>
                </tr>
                <tr>
                    <td>Ambulance Chaser</td>
                    <td>4 - 8</td>
                    <td><img src="~/images/cogs/lawbots/Ambulance_Chaser2.png" /></td>
                </tr>
                <tr>
                    <td>Back Stabber</td>
                    <td>5 - 9</td>
                    <td><img src="~/images/cogs/lawbots/Backstabber2.png" /></td>
                </tr>
                <tr>
                    <td>Spin Doctor</td>
                    <td>6 - 10</td>
                    <td><img src="~/images/cogs/lawbots/Spindoctor2.png" /></td>
                </tr>
                <tr>
                    <td>Legal Eagle</td>
                    <td>7 - 11</td>
                    <td><img src="~/images/cogs/lawbots/Legaleagle2.png" /></td>
                </tr>
                <tr>
                    <td>Big Wig</td>
                    <td>8 - 12</td>
                    <td><img src="~/images/cogs/lawbots/Bigwig2.png" /></td>
                </tr>
            </tbody>
        </table>
        <h2 id="where">Where to Find Lawbots</h2>
        <table>
            <thead>
                <tr>
                    <th>Street</th>
                    <th>Playground</th>
                    <th>Percentage Found</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Punchline Place</td>
                    <td>Toontown Central</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Silly Street</td>
                    <td>Toontown Central</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Loopy Lane</td>
                    <td>Toontown Central</td>
                    <td>70%</td>
                </tr>
                <tr>
                    <td>Barnacle Boulevard</td>
                    <td>Donald's Dock</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Lighthouse Lane</td>
                    <td>Donald's Dock</td>
                    <td>40%</td>
                </tr>
                <tr>
                    <td>Oak Street</td>
                    <td>Daisy Gardens</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>Elm Street</td>
                    <td>Daisy Gardens</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>Maple Street</td>
                    <td>Daisy Gardens</td>
                    <td>70%</td>
                </tr>
                <tr>
                    <td>Tenor Terrace</td>
                    <td>Minnie's Melodyland</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>Sleet Street</td>
                    <td>The Brrrgh</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>Walrus Way</td>
                    <td>The Brrrgh</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Polar Place</td>
                    <td>The Brrrgh</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td>Lullaby Lane</td>
                    <td>Donald's Dreamland</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Pajama Place</td>
                    <td>Donald's Dreamland</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lawbot Headquarters</td>
                    <td>100%</td>
                </tr>
            </tbody>
        </table>
        <h2 id="hq">Lawbot HQ</h2>
        <p>
            Lawbot Headquarters, or often referred to as Lawbot HQ, is the base of all Lawbot operations.
            It is located at the end of Polar Place in The Brrrgh. Upon entering the headquarters, there is
            wide open area called the Courtyard. Accessible within the Courtyard are two facilities. The 
            Lawbot Courthouse is to the left and the District Attorney's Office is to the right. 
        </p>
        <img class="content-img" style="height:320px;" src="~/images/cogs/lawbots/lbhq.png" />
        <h3>District Attorney Offices</h3>
        <p>

        </p>
        <h3>The Chief Justice</h3>
        <p>
            The Chief Justice, otherwise known as the C.J., is the boss of the Lawbots. He lives in the 
            Lawbot Courthouse in Lawbot HQ.
        </p>
        <img class="content-img" style="height:235px;border-radius:unset;" src="~/images/cogs/lawbots/Chief_Justice.png" />
        <p>
            Once a toon has a Lawbot suit disguise and has earned a promotion, they can fight the C.J. To access the
            C.J. battle, a toon must enter the Lawbot Courthouse through the giant marbled doors on the left side of 
            the headquarters (shown below). 
        </p>
        <img class="content-img" style="height:250px;" src="~/images/cogs/lawbots/lbhq_courthousedoors.png" />
        <p>
            A toon can enter this battle with a maximum of 7 other toons. Once all 
            participating toons have gone up the elevator, toons will be greeted by the not-so-friendly C.J. and a fellow
            toon on trial. Toons will fight waves of cogs that are level 8 and above. In the next round, toons are faced 
            with cannons and 12 jury seats. The goal is to fill up as many jury seats as possible with NPC toons. Each 
            toon will have 70 seconds to do so. Be aware! Cogs are trying to fill up jury seats too! The final round, toons 
            must throw evidence on their side of a giant scale, with the goal of weighing it to the bottom. Toons receive 
            evidence from the toon on trial. There is a line of cogs throwing their own evidence in their side of the scale.
            Toons can stun these cogs for a short period of time by throwing evidence at them. If all cogs are stunned at once,
            toons get a 10 point laff boost and 2x evidence weight for 20 seconds!
        </p>
        <p>~C.J. walkthrough video soon to come!~</p>
        <h2 id="suit">Building a Lawbot Disguise</h2>
        <p>

        </p>
        <h2 id="summon">Cog Summons</h2>
        <div style="display:flex;justify-content:space-around;">
            <a href="#list">List of Lawbots</a>
            <a href="#where">Where to Find Lawbots</a>
            <a href="#hq">Lawbot HQ</a>
            <a href="#suit">Building a Lawbot Disguise</a>
            <a href="#summon">Cog Summons</a>
        </div>
    </div>
</div>