@{
    ViewData["Title"] = "Lawbots";
}

<div class="panel">
    <div class="panel-content">
        <h1>Lawbots</h1>
        <p>
            Cashbots are one of the four tiers of cogs found in Toontown. As an overview, they represent 
            the finance and money management and are the 3rd ranked cogs. The Cashbot Headquarters is 
            the home of the Cashbots and is most likely a headquarters a toon will visit when they are 
            working on Donald's Dreamland toontasks. The head of all Cashbots is the Chief Financial Officer,
            which toons can battle in Cashbot HQ.
        </p>
        <img src="~/images/cogs/LawbotHD.png" style="display:block;float:right;margin:-30px 0 0 5px;height:80px;width:auto;border-radius:1em;"/>
        <p>
            Cashbots can be identified by their cog symbol, which is light-green in color and has 
            a cash symbol (<b>&#xFF04;</b>) on it (displayed to the right).
        </p>
        <div style="display:flex;justify-content:space-around;">
            <a href="#list">List of Cashbots</a>
            <a href="#where">Where to Find Cashbots</a>
            <a href="#hq">Cashbot HQ</a>
            <a href="#suit">Building a Cashbot Disguise</a>
            <a href="#unite">Unites</a>
        </div>
        <h2 id="list">List of Lawbots</h2>
        <table>
            <thead>
                <tr>
                    <th>Cog Name</th>
                    <th>Level Range</th>
                    <th>Headshot</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bottom Feeder</td>
                    <td>1 - 5</td>
                    <td><img src="~/images/cogs/lawbots/BottomFeeder2.png" /></td>
                </tr>
                <tr>
                    <td>Bloodsucker</td>
                    <td>2 - 6</td>
                    <td><img src="~/images/cogs/lawbots/Bloodsucker2.png" /></td>
                </tr>
                <tr>
                    <td>Double Talker</td>
                    <td>3 - 7</td>
                    <td><img src="~/images/cogs/lawbots/Doubletalker2.png" /></td>
                </tr>
                <tr>
                    <td>Ambulance Chaser</td>
                    <td>4 - 8</td>
                    <td><img src="~/images/cogs/lawbots/Ambulance_Chaser2.png" /></td>
                </tr>
                <tr>
                    <td>Back Stabber</td>
                    <td>5 - 9</td>
                    <td><img src="~/images/cogs/lawbots/Backstabber2.png" /></td>
                </tr>
                <tr>
                    <td>Spin Doctor</td>
                    <td>6 - 10</td>
                    <td><img src="~/images/cogs/lawbots/Spindoctor2.png" /></td>
                </tr>
                <tr>
                    <td>Legal Eagle</td>
                    <td>7 - 11</td>
                    <td><img src="~/images/cogs/lawbots/Legaleagle2.png" /></td>
                </tr>
                <tr>
                    <td>Big Wig</td>
                    <td>8 - 12</td>
                    <td><img src="~/images/cogs/lawbots/Bigwig2.png" /></td>
                </tr>
            </tbody>
        </table>
        <h2 id="where">Where to Find Cashbots</h2>
        <table>
            <thead>
                <tr>
                    <th>Street</th>
                    <th>Playground</th>
                    <th>Percentage Found</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Punchline Place</td>
                    <td>Toontown Central</td>
                    <td>40%</td>
                </tr>
                <tr>
                    <td>Silly Street</td>
                    <td>Toontown Central</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Loopy Lane</td>
                    <td>Toontown Central</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Seaweed Street</td>
                    <td>Donald's Dock</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>Lighthouse Lane</td>
                    <td>Donald's Dock</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Oak Street</td>
                    <td>Daisy Gardens</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>Elm Street</td>
                    <td>Daisy Gardens</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Alto Avenue</td>
                    <td>Minnie's Melodyland</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>Baritone Boulevard</td>
                    <td>Minnie's Melodyland</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td>Sleet Street</td>
                    <td>The Brrrgh</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td>Polar Place</td>
                    <td>The Brrrgh</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>Lullaby Lane</td>
                    <td>Donald's Dreamland</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Pajama Place</td>
                    <td>Donald's Dreamland</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Cashbot Headquarters</td>
                    <td>100%</td>
                </tr>
            </tbody>
        </table>
        <h2 id="hq">Cashbot HQ</h2>
        <p>
            Cashbot Headquarters, or often referred to as Cashbot HQ, is the base of all Cashbot operations.
            It is located at the end of Pajama Place in Donald's Dreamland. Within the headquarters, there are
            three elevators that lead to three different types of cog mints. Additionally, on the opposite side
            of the headquarters is the Cashbot vault. More detail on these areas will be explained below.
        </p>
    </div>
</div>