@{
    ViewData["Title"] = "Sellbots";
}

<link href="~/css/cogs.css" rel="stylesheet" type="text/css">

<div class="panel">
    <div class="panel-content">
        <h1>Sellbots <img class="cog-seal" src="~/images/cogs/SellbotHD.png" /></h1>
    </div>
</div>