@{
    ViewData["Title"] = "Toon Tips";
}

<div class="panel">
    <div class="panel-content">
        <h1>Toon Tips</h1>
        <p>
            There are a lot of ins and outs to playing Toontown, and every player has their own way of doing things.
            Over the years, I have discovered some simple, useful tips that enhance the gameplay experience. Some
            tips include universal toon strategy and some tips include personal preferences. If there is a tip that you 
            do not see here and you think that tip would helpful, please feel free to share it with me 
            <a asp-area="" asp-controller="Home" asp-action="Contact">here</a>!
        </p>
        <h2>Contents</h2>
        <ol>
            <li><a href="#1">What to do in a Cog Battle</a></li>
            <li><a href="#2">Where to Find Toons</a></li>
            <li><a href="#3">Playground & Street Secrets</a></li>
            <li><a href="#4">Gag Experience Multipliers</a></li>
            <li><a href="#5">Picking the Right Toontasks</a></li>
            <li><a href="#6">Pointers for Sellbot HQ</a></li>
            <li><a href="#7">Cashbot HQ Strategy</a></li>
            <li><a href="#8">Helpful Tips for Lawbot HQ</a></li>
            <li><a href="#9">Bossbot HQ Survival Tips</a></li>
            <li><a href="#10">Notes on Organic Gag Tracks</a></li>
            <li><a href="#11">Things to Think About When Fishing</a></li>
            <li><a href="#12">Quickly Earning Sweeping Race Trophies</a></li>
        </ol>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="1">What to do in a Cog Battle</summary>
            <p>fill</p>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="2">Where to Find Toons</summary>
            <h2>Toon HQs Group Tracker</h2>
            <p>
                Sometimes it can be hard to find other toons to help defeat a cog building, to join
                a boss battle, or to go racing with; especially if no toon friends are online. Instead 
                of waiting for hours on end for maybe one toon to help, check out 
                <a href="https://toonhq.org/groups/" target="_blank">Toon HQs Group Tracker</a>. 
                This tracker allows toons to easily find other toons to group up with in real time! 
                A toon can either join an existing group or create their own.
            </p>
            <img class="content-img" style="height:225px;" src="~/images/toonhq_group.PNG" />
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="3">Playground & Street Secrets</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="4">Gag Experience Multipliers</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="5">Picking the Right Toontasks</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="6">Pointers for Sellbot HQ</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="7">Cashbot HQ Strategy</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="8">Helpful Tips for Lawbot HQ</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="9">Bossbot HQ Survival Tips</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="10">Notes on Organic Gag Tracks</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="11">Things to Think About When Fishing</summary>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="12">Quickly Earning Sweeping Race Trophies</summary>
        </details>
    </div>
</div>

<!-- Fishing requires patience and time. Use fishing guide to help increase chances of catching species. Also try to fish when rarity is decreased from the silly meter -->
<!-- Fish to quickly earn more jellybeans. This saves time by not going on the trolly and also helps your fishing progress -->
<!-- To earn sweeping trophies, swap sweeping wins with another toon to quickly achieve this -->
<!-- Sellbot factories. Two shorts rewards more merits and is quicker. Lava room: Squirt restock barrel (Fire Hose), Sound restock barrel (Elephant Trunk), 10 laff restock barrel, Two 25 jellybean restock barrels. Paint mixer room: 25 jellybeans barrel, Two Toon-Up restock barrels, Throw restock barrel, Squirt restock barrel -->
<!-- CFO: if you are working the crane in the final round, do not throw a safe at the CFO unless he is stunned. If you throw without him being stunned, the CFO will obtain a helmet and that will be need to be knocked off in order to deal more damage. Also other toons will be very mad at you -->
<!-- CJ: do not start shooting toons out of the cannon until around 22 seconds left. This will allow toons to fill seats without much worry that cogs will take over the seats before time runs out. -->
<!-- DA offices: first round on a floor, use two fogs, second round lure (unless soundless toon in present) -->
<!-- CEO: when the ceo yells Fore! jump off the table after he swings and back up. He already targeted your location, so if you move, the golf balls will not hit you. -->
<!-- CEO: Each toon uses one fog per round, taking turns starting from the left most toon. This extends how long each toon has a fog during battle -->
<!-- Cog HQs give double gag XP, no invasions needed -->
<!-- Invasions double gag XP. Building floor multipliers are affected by this bonus -->
<!-- Pick vague toontasks and fight in invasion districts as you work through the story -->
<!-- Organic throw can defeat level 11 by itself if the cog is lured. -->
<!-- Organic lure is a great way to help train the lure gag track. Organic lure changes accuracy from low to medium, making your small magnet quite impressive -->
<!-- Try not to cross when chosing cogs to hit. Meaning, if you are positioned on the left of the battle, hit the cogs on the left side. Of course sometimes this is not always possible -->
<!-- Toons can see what direction to go based on the textures of the hedges. If there are vines, Toons need to go left. If there are no vines, Toons should go right. There are also colored flags that hint how far a Toon is from the end of the maze. -->
<!-- Street shortcuts: TTC, Brrrgh, Dreamland -->
<!-- New toon? Go to Goofy's Speedway to gain teleport access. Then if you leave TTC, you can get back quickly by teleporting to the speedway -->