@{
    ViewData["Title"] = "Toon Tips";
}

<div class="panel">
    <div class="panel-content">
        <h1>Toon Tips</h1>
        <p>
            There are a lot of ins and outs to playing Toontown, and every player has their own way of doing things.
            Over the years, I have discovered some simple, useful tips that enhance the gameplay experience. Some
            tips include universal toon strategy and some tips include personal preferences. If there is a tip that you 
            do not see here and you think that tip would helpful, please feel free to share it with me 
            <a asp-area="" asp-controller="Home" asp-action="Contact">here</a>!
        </p>
        <h2>Contents</h2>
        <ol>
            <li><a href="#1">What to do in a Cog Battle</a></li>
            <li><a href="#2">Where to Find Toons</a></li>
            <li><a href="#3">Playground & Street Secrets</a></li>
            <li><a href="#4">Gag Experience Multipliers</a></li>
            <li><a href="#5">Picking the Right Toontasks</a></li>
            <li><a href="#6">Pointers for Sellbot HQ</a></li>
            <li><a href="#7">Cashbot HQ Strategy</a></li>
            <li><a href="#8">Helpful Tips for Lawbot HQ</a></li>
            <li><a href="#9">Bossbot HQ Survival Tips</a></li>
            <li><a href="#10">Notes on Organic Gag Tracks</a></li>
            <li><a href="#11">Things to Think About When Fishing</a></li>
            <li><a href="#12">Tips for Kart Racing</a></li>
        </ol>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="1">What to do in a Cog Battle</summary>
            <h2>Cog Crossing</h2>
            <p>
                Try not to cross when chosing cogs to hit. Meaning, if you are positioned on the left of the battle, 
                hit the cogs on the left side. Of course sometimes this is not always possible. This is to prevent 
                confusion for other toons in the battle, espcially with game lag and little time left to chose a gag. 
                This tip is very important in Cog Golf courses as well. 
            </p>
            <h2>Sound vs. Lure</h2>
            <p>
                I am sure every toon has seen the SpeedChat phrase "Don't use sound on lured cogs!". This is a very important
                tip, because if violated, it could jeoprodize the whole battle. If, for exampe, sound is used on a round
                of four lured cogs, then all of those cogs get pushed back and will attack the toons. Sound also do not
                have jump back damage and will take away any jump back damage given by gags that come after sound. No good!
            </p>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="2">Where to Find Toons</summary>
            <h2>Toon HQs Group Tracker</h2>
            <p>
                Sometimes it can be hard to find other toons to help defeat a cog building, to join
                a boss battle, or to go racing with; especially if no toon friends are online. Instead 
                of waiting for hours on end for maybe one toon to help, check out 
                <a href="https://toonhq.org/groups/" target="_blank">Toon HQs Group Tracker</a>. 
                This tracker allows toons to easily find other toons to group up with in real time! 
                A toon can either join an existing group or create their own.
            </p>
            <img class="content-img" style="height:225px;" src="~/images/toonhq_group.PNG" />
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="3">Playground & Street Secrets</summary>
            <h2>Street Shortcuts</h2>
            <p>
                Running to Minnie's Melodyland, Cashbot HQ, or Lawbot HQ by foot is easy with shortcuts on the 
                streets that lead to those playgrounds. Quickly get to Minnie's Melodyland from Toontown Central
                through the shortcut located at the halfway point of Silly Street (left). Speedily get to Cashbot HQ
                by using the shortcut located at the beginning of Pajama Place (middle). Get to Lawbot HQ so fast it 
                seems like you teleported through the shortcut located at the beginning of Polar Place (right).
            </p>
            <div class="row">
                <div class="column">
                    <img class="content-img" style="height:250px;" src="~/images/Street_Map_Silly_Street.png" />
                </div>
                <div class="column">
                    <img class="content-img" style="height:250px;" src="~/images/Street_Map_Pajama_Place.png" />
                </div>
                <div class="column">
                    <img class="content-img" style="height:250px;" src="~/images/Street_Map_Polar_Place.png" />
                </div>
            </div>
            <h2>Goofy Speedway Teleport Trick</h2>
            <p>
                New toon? Go to Goofy's Speedway to gain teleport access. A toon can then get back to Toontown Central 
                quickly by teleporting to Goofy Speedway and using the tunnel to the playground.
            </p>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="4">Gag Experience Multipliers</summary>
            <h2>Cog HQ Bonus</h2>
            <p>
                For those who are used to Toontown Online or are just unaware, Cog HQs give double gag XP! 
                Cog HQ bonuses are not affected by district cog invasions.
            </p>
            <h2>Building Multipliers</h2>
            <p>
                To effectively and efficiently train a toons gags, defeating cog buildings during invasions is the
                way to go. Not only do toons get +.5 added to the experience multipler each floor they go up (i.e. 1x, 1.5x, 2x...),
                during invasions, the multipler is also doubled (i.e. 2x, 3x, 4x...)! It is really easy to earn max gag 
                experience points (300pts a gag track per battle or building)!
            </p>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="5">Picking the Right Toontasks</summary>
            <h2>Vague Toontasks</h2>
            <p>
                When progressing throught the main storyline, try to pick toontasks that are as vague as possible.
                For example, "Defeat 50 cogs" or "Defeat 25 Bossbots". This way a toon can gain gag experience quicker
                while also working on toontasks.
            </p>
            <h2>Similar Toontasks</h2>
            <p>
                If you're a player that likes to do multitask, try to pick toontasks that relate to one another. If a
                toon has a task they cannot avoid like "Recover 10 Postcards from Double Talkers", then try to pick tasks
                that would also be satisfied by defeating Double Talkers.
            </p>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="6">Pointers for Sellbot HQ</summary>
            <h2>Two Short Factories</h2>
            <p>
                Completing two short factories is quicker than going through one long factory, assuming everything goes
                accoridng to plan. Additionally, two shorts will reward a toon with 960 merits, which is 184 more merits 
                compared to the long route reward. This is very helpful for mid- to high-level suits.
            </p>
            <h2>Factory Restock Barrels</h2>
            <h4>The Lava Room</h4>
            <p>
                Most toons stop here when following the long route in a factory.
            <p>
            <ul>
                <li>Squirt restock barrel (fire hose)</li>
                <li>Sound restock barrel (elephant trunk)</li>
                <li>10 laff restock barrel</li>
                <li>Two 25 jellybean restock barrels</li>
            </ul>
            <h4>The Paint Mixer Room</h4>
            <ul>
                <li>25 jellybeans restock barrel</li>
                <li>Two Toon-up restock barrels</li>
                <li>Throw restock barrel</li>
                <li>Squirt restock barrel</li>
            </ul>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="7">Cashbot HQ Strategy</summary>
            <h2>Throwing Safes at the C.F.O.</h2>
            <p>
                During the final round of the C.F.O., when using the crane, do not throw a safe a the C.F.O. unless 
                he is stunned. If a safe is thrown without him being stunned, the C.F.O. will obtain a helmet that will need
                to be knocked off in order to deal more damage. To know if the C.F.O. is stunned, the sound of an aoogah will
                go off and C.F.O. will appear dizzy. 
            </p>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="8">Helpful Tips for Lawbot HQ</summary>
            <h2>DA Office Strategy</h2>
            <p>
                Under the assumption that all four toons in a DA Office have sound, there is a certain
                expectation for each of the battles on a floor. During the first round on a floor, two
                toons will use the fog horn an the other two will either use an elephant trunk or the aoogah.
                Typically, the toons who didnt use a fog on the previous floor will use it on the next floor.
                During the second round, the cogs will be lured and defeated individually. 
            </p>
            <p>
                Usually, with a soundless toon present, the first round will be lured. During the second round
                in this circumstance, all toons with sound will use fog while the soundless toons takes out the
                level 12 Skelecog. This occurs until toons run out of fog horns.
            </p>
            <h2>Filling the Jury Seats with Toons</h2>
            <p>
                During the Chief Justice battle, round two involves shooting familar toons out of a cannon to fill
                as many jury seats as possible. It might be tempting to start shooting as soon as the round starts,
                but this is not advantageous. It is best to wait till 22 seconds left on the clock to start shooting.
                Why? At this point, all the cogs have sat down and toons can take over while also not leaving a lot of
                time for cogs to take back over.
            </p>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="9">Bossbot HQ Survival Tips</summary>
            <h2>Golf Course Maze</h2>
            <p>
                The Golf Course mazes seem impossible, especially with little experience. But, toons can see what 
                direction to go based on the textures of the hedges. If there are vines, toons need to go left. 
                If there are no vines, toons should go right. There are also colored flags that hint how far a toon is 
                from the end of the maze.
            </p>
            <h2>The One Fog Rule</h2>
            <p>
                During the first round, toons typcally follow a strategy often referred to as the "One Fog Rule".
                When toons want to use sound, there is only one fog used per round (if needed). Starting from
                the left, toons will take turns using a fog. For example, the first toon to use a fog will be the
                left most toon, then in the next round, the second leftmost toon will use a fog horn. This rule 
                prevents confusion and helps toons extend the life of their 3 fogs.
            </p>
            <h2>When the C.E.O. says "Fore!"</h2>
            <p>
                When the C.E.O. yells "Fore!"" jump off the table after he swings and back up. He already targeted each toons 
                location, so if a toon moves, the golf balls will just miss them.
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="10">Notes on Organic Gag Tracks</summary>
            <h2>Organic Throw</h2>
            <p>
                Organic throw is pretty helpful in a lot of situations. An organic cake deals 110 damage, which can 
                defeat a level 11 cog by itself if that cog is lured. On top of that, a level 5 cog can be defeated 
                with an organic whole cream pie, or an organic whole fruit pie if the cog is lured. Highly recommended!
            </p>
            <h2>Organic Lure</h2>
            <p>
                Organic lure is a great way to help train the lure track until it is maxed. Organic lure changes the
                lure hit accuracy from low to medium, making a pretty impressive small magnet. This provides a less
                tedious way to track the lure gag track without missing every single time.
            </p>
            <h2>Other Organic Gag Benefits</h2>
            <ul>
                <li>A level 7 Cog can be defeated with an organic Trapdoor.</li>
                <li>A level 12 Cog can be defeated with an organic Railroad.</li>
                <li>A level 2 Cog can be defeated with an organic Bugle.</li>
                <li>A level 9 Cog can be defeated with an organic Birthday Cake and an organic Geyser.</li>
                <li>A level 10 Cog can be defeated with an organic Wedding Cake.</li>
                <li>A level 10 Cog that is lured can be defeated with an organic Storm Cloud.</li>
            </ul>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="11">Things to Think About When Fishing</summary>
            <h2>Catching New Species</h2>
            <img src="~/images/sillymeter_fishteam.png" class="badge"/>
            <p>
                Fishing is a very time consuming tasks and it requires a lot of patience. Using the fishing
                guide will help increase the chances of catching fish species. Additionally, try to go fishing
                when the Decrease Fish Rarity Silly Meter (badge to the right) award is active! Most importantly, 
                do not give up. 
            </p>
            <h2>Earning Jellybeans Quickly</h2>
            <p>
                Have you ever found yourself where your toon needs jellybeans but you do not want to play trolley
                games? Well do I have a solution for you! Go fishing with whatever jellybeans are left in your toons 
                jar and keep selling fish until you are content. Added bonus, this also help fishing progress.
            </p>
        </details>
    </div>
</div>
<div class="panel" style="margin-top:unset;">
    <div class="panel-content">
        <details>
            <summary id="12">Tips for Kart Racing</summary>
            <h2>Quickly Earning Sweeping Race Trophies</h2>
            <p>
                Sometimes earning those pesky sweeping trophies is a pain. A clever way to earn sweeping trophies
                is to swap sweeping wins with another toon. This way there is no stress or pressure to win 3
                races in a row, and you and your toon friend benefit from the deal!
            </p>
        </details>
    </div>
</div>

