<!DOCTYPE html>
<html>
  <head>
    <link href="../../../theme.css" rel="stylesheet" type="text/css">
    <link href="../gardening.css" rel="stylesheet" type="text/css">
    <title>Gardening | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png">
  </head>
  <body>
    <div class="topnav">
      <a href="../../../index.html">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Activities
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../gardening.html">Gardening</a>
          <a href="../fishing.html">Fishing</a>
          <a href="../racing.html">Racing</a>
          <a href="../golfing.html">Golfing</a>
          <a href="../doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../cogs/sellbot.html">Sellbot</a>
          <a href="../../cogs/cashbot.html">Cashbot</a>
          <a href="../../cogs/lawbot.html">Lawbot</a>
          <a href="../../cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Toon HQ
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="https://toonhq.org/invasions/" target="_blank">Invasions</a>
          <a href="https://toonhq.org/groups/" target="_blank">Groups</a>
        </div>
      </div>
      <a href="../../about.html">About</a>
      <a href="../../contact.html">Contact</a>
    </div>
    <div class="gardening-panel">
      <div class="panel-content">
        <h1>Gardening Guide **incomplete**</h1>
        <p>Looking for flower bean combinations? Well you came to the right place! Here you can look
           through all the possible flower bean combinations that exist in Toontown Rewritten. You can
           sort the list by bean count (number of beans you can or want to plant) or by flower species!
        </p>
      </div>
    </div>
    <div class="list">
      <div class="filtering">
        <button name="num" onclick="window.location.href='../gardening.html'">Bean Count</button>
        <button name="bean" class="active">Flower Species/Color</button>
      </div>
      <ul>
        <!-- Green -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="one" data-image="">Laff-o-dill</li>
        <hr>
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="four" data-image="">Giraff-o-dil</li>
        <hr>
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="five" data-image="">Time and half-o-dil</li>
        <hr>
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="two" data-image="">Daffy Dill</li>
      </ul>
      <p></p>
      <ul>
        <!-- Orange -->
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="two" data-image="">Chim Pansy</li>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="four" data-image="">Marzi Pansy</li>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="three" data-image="">Potsen Pansy</li>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="one" data-image="">Dandy Pansy</li>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="six" data-image="">Smarty Pansy</li>
      </ul>
      <ul>    
        <!-- Yellow -->
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="three" data-image="">Midsummer Daisy</li>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="eight" data-image="">Hazy Daisy</li>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="four" data-image="">Freshasa Daisy</li>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="five" data-image="">Whoopsie Daisy</li>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="two" data-image="">Lazy Daisy</li>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="seven" data-image="">Crazy Daisy</li>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="one" data-image="">School Daisy</li>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="six" data-image="">Upsy Daisy</li>
      </ul>
      <ul>
        <!-- Cyan -->
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="two" data-image="">Lily Pad</li>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="seven" data-image="">Indubitab Lily</li>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="three" data-image="">Tiger Lily</li>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="five" data-image="">Chili Lily</li>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="four" data-image="">Livered Lily</li>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="one" data-image="">Lily-of-the-Alley</li>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="eight" data-image="">Dilly Lily</li>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="six" data-image="">Silly Lily</li>
     </ul>
     <ul>    
        <!-- Pink -->
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="one" data-image="">What-in Carnation</li>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="five" data-image="">Side Carnation</li>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="two" data-image="">Instant Carnation</li>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="three" data-image="">Hybrid Carnation</li>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="seven" data-image="">Model Carnation</li>
      </ul>
      <ul>    
        <!-- Purple -->
        <li data-flower-type="tulip" data-bean-type="purple" data-num-beans="five" data-image="">Onelip</li>
        <hr>
        <li data-flower-type="tulip" data-bean-type="purple" data-num-beans="six" data-image="">Twolip</li>
        <hr>
        <li data-flower-type="tulip" data-bean-type="purple" data-num-beans="eight" data-image="">Threelip</li>
      </ul>
      <ul>    
        <!-- Red -->
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="seven" data-image="">Stinking Rose</li>
        <hr>
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="four" data-image="">Corn Rose</li>
        <hr>
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="six" data-image="">Tinted Rose</li>
        <hr>
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="three" data-image="">Summer's Last Rose</li>
        <hr>
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="eight" data-image="">Istilla Rose</li>
      </ul>
      <ul>    
        <!-- Blue -->
        <li data-flower-type="petunia" data-bean-type="blue" data-num-beans="eight" data-image="">Platoonia</li>
        <hr>
        <li data-flower-type="petunia" data-bean-type="blue" data-num-beans="seven" data-image="">Car Petunia</li>
      </ul>
    </div>
    <div class="footer-panel">
      Spike's Rewritten Web © 2018
    </div>
  </body>
</html>