<!DOCTYPE html>
<html>
  <head>
    <link href="../../../theme.css" rel="stylesheet" type="text/css">
    <link href="../list.css" rel="stylesheet" type="text/css">
    <title>Gardening | Spike's Rewritten Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../../images/favicon.png">
  </head>
  <body>
    <div class="topnav">
      <a href="../../../index.html">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Activities
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="gardening.html">Gardening</a>
          <a href="../fishing/fishing.html">Fishing</a>
          <a href="../racing.html">Racing</a>
          <a href="../golfing.html">Golfing</a>
          <a href="../doodles.html">Doodles</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cogs
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../../cogs/sellbot.html">Sellbot</a>
          <a href="../../cogs/cashbot.html">Cashbot</a>
          <a href="../../cogs/lawbot.html">Lawbot</a>
          <a href="../../cogs/bossbot.html">Bossbot</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Toon HQ
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="https://toonhq.org/invasions/" target="_blank">Invasions</a>
          <a href="https://toonhq.org/groups/" target="_blank">Groups</a>
        </div>
      </div>
      <a href="../../about.html">About</a>
      <a href="../../contact.html">Contact</a>
    </div>
    <div class="panel">
      <div class="panel-content">
        <h1><a name="gardeningTop">Gardening</a></h1>
        <p>
          Gardening in Toontown is a great and easy way to earn an additional 4 laff points! Any toon,
          at any level, can start their own garden with the gardening kit at their estate. The gardening
          kit is purchasable in Clarabelle's Cattlelog. 
        </p>
        <h2>Planting Flowers</h2>  
        <p>  
          Similar to <a href="../fishing.html">fishing</a>, with 
          every 10 new species of flowers discovered, a laff point is earned! There are a total of 40 flower species
          and 4 earnable gardening trophies.
        </p>
        <p>
          To discover new flower species, toons must advance their shovel. There are currently
          four different shovels that can be used to garden. To advance the shovel, flowers must be
          planted and watered at the highest level (jellybean cost) and harvested each day, to earn up to a maximum 
          of 10 points a day. To sell flowers, approach the wheel barrow at the estate. Flowers sell for
          double the plant cost. The following chart is a great source to use to know when a shovel will upgrade
          and when laff points can be earned:
        </p>
        <table>
          <tr>
            <th>Shovel</th>
            <th>Points to Advance</th>
            <th>Flower Jellybean Cost</th>
            <th>Laff Point?</th>
          </tr>
          <tr>
            <td>Tin</td>
            <td>0 - 39</td>
            <td>1 jellybean</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Tin</td>
            <td>40 - 79</td>
            <td>2 jellybeans</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Bronze</td>
            <td>0 - 79</td>
            <td>3 jellybeans</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Bronze</td>
            <td>80 - 159</td>
            <td>4 jellybeans</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Silver</td>
            <td>0 - 159</td>
            <td>5 jellybeans</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Silver</td>
            <td>160 - 319</td>
            <td>6 jellybeans</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Gold</td>
            <td>0 - 319</td>
            <td>7 jellybeans</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Gold</td>
            <td>320 - 639</td>
            <td>8 jellybeans</td>
            <td>Yes</td>
          </tr>
        </table>
        <h2>Gag Trees</h2> 
        <p>
          In addition to planting flowers, toons can also plant gag trees with, well, gags! 
          Once fully gorwn, that gag will gain what is called an "organic bonus", which increases
          gag damage by 10% (rounded up), or increases accuracy for lure gags. There are a total
          of eight abaliable spots per toon to plant a gag tree. However, to have an organic bonus
          on any level 2+ gag, the preceding gag in that track must also be planted and that lower
          gag tree must not be removed. 
        </p>
        <hr>
        <h2>Flower Bean Combinations</h2> 
        <p>
          Looking for flower bean combinations? Well you came to the right place! Below, feel free to look
          through all the possible flower bean combinations that exist in Toontown Rewritten. You can
          sort the list by bean cost or by flower species!
        </p>
      </div>
    </div>
    <div class="list-navigation">
      <a href="#oneBean">One Bean Combos</a> | <a href="#twoBean">Two Bean Combos</a>
        | <a href="#threeBean">Three Bean Combos</a> | <a href="#fourBean">Four Bean Combos</a> | <a href="#fiveBean">Five Bean Combos</a>
        | <a href="#sixBean">Six Bean Combos</a> | <a href="#sevenBean">Seven Bean Combos</a> | <a href="#eightBean">Eight Bean Combos</a>
    </div>
    <div class="list">
      <div class="filtering">
        <button name="num" class="active">Bean Cost</button>
        <button name="type" onclick="window.location.href='gardening_species.html'">Flower Species/Color</button>
      </div>
      <h2><a name="oneBean">One Bean Flower Combinations</a></h2>
      <ul>
        <!-- One bean flower combinations -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="one">Laff-o-dill</li>
        <img src="../../../images/flowers/laff-o-dil.gif">
        <div class="bean-colors" style="color:green">green</div>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="one">Dandy Pansy</li>
        <img src="../../../images/flowers/dandy-pansy.gif">
        <div class="bean-colors" style="color:orange">orange</div>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="one">What-in Carnation</li>
        <img src="../../../images/flowers/what-in-carnation.gif">
        <div class="bean-colors" style="color:pink">pink</div>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="one">School Daisy</li>
        <img src="../../../images/flowers/school-daisy.gif">
        <div class="bean-colors" style="color:gold">yellow</div>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="one">Lily-of-the-Alley</li>
        <img src="../../../images/flowers/lily-of-the-alley.gif">
        <div class="bean-colors" style="color:darkturquoise">cyan</div>
        <a href="#gardeningTop">Back to Top</a>
      </ul>
      <h2><a name="twoBean">Two Bean Flower Combinations</a></h2>
      <ul>
        <!-- Two bean flower combinations -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="two">Daffy Dill</li>
        <img src="../../../images/flowers/daffy-dill.gif">
        <div class="bean-colors"><span style="color:green">green</span> + <span style="color:darkturquoise">cyan</span></div>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="two">Chim Pansy</li>
        <img src="../../../images/flowers/chim-pansy.gif">
        <div class="bean-colors"><span style="color:orange">orange</span> + <span style="color:darkturquoise">cyan</span></div>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="two">Instant Carnation</li>
        <img src="../../../images/flowers/instant-carnation.gif">
        <div class="bean-colors"><span style="color:pink">pink</span> + <span style="color:gold">yellow</span></div>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="two">Lazy Daisy</li>
        <img src="../../../images/flowers/lazy-daisy.gif">
        <div class="bean-colors"><span style="color:gold">yellow</span> + <span style="color:red">red</span></div>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="two">Lily Pad</li>
        <img src="../../../images/flowers/lily-pad.gif">
        <div class="bean-colors"><span style="color:darkturquoise">cyan</span> + <span style="color:green">green</span></div>
        <a href="#gardeningTop">Back to Top</a>
      </ul>
      <h2><a name="threeBean">Three Bean Flower Combinations</a></h2>
      <ul>    
        <!-- Three bean flower combinations -->
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="three">Midsummer Daisy</li>
        <img src="../../../images/flowers/midsummer-daisy.gif">
        <div class="bean-colors"><span style="color:gold">yellow</span> + <span style="color:red">red</span> + <span style="color:green">green</span></div>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="three">Potsen Pansy</li>
        <img src="../../../images/flowers/potsen-pansy.gif">
        <div class="bean-colors"><span style="color:orange">orange</span> + <span style="color:red">red</span> + <span style="color:red">red</span></div>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="three">Hybrid Carnation</li>
        <img src="../../../images/flowers/hybrid-carnation.gif">
        <div class="bean-colors"><span style="color:pink">pink</span> + <span style="color:red">red</span> + <span style="color:red">red</span></div>
        <hr>
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="three">Summer's Last Rose</li>
        <img src="../../../images/flowers/summers-last-rose.gif">
        <div class="bean-colors"><span style="color:red">red</span> + <span style="color:red">red</span> + <span style="color:red">red</span></div>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="three">Tiger Lily</li>
        <img src="../../../images/flowers/tiger-lily.gif">
        <div class="bean-colors"><span style="color:darkturquoise">cyan</span> + <span style="color:orange">orange</span> + <span style="color:orange">orange</span></div>
        <a href="#gardeningTop">Back to Top</a>
      </ul>
      <h2><a name="fourBean">Four Bean Flower Combinations</a></h2>
      <ul>
        <!-- Four bean flower combinations -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="four">Giraff-o-dil</li>
        <img src="../../../images/flowers/giraff-o-dil.gif">
        <div class="bean-colors"><span style="color:green">green</span> + <span style="color:pink">pink</span> + <span style="color:gold">yellow</span>
           + <span style="color:gold">yellow</span></div>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="four">Marzi Pansy</li>
        <img src="../../../images/flowers/marzi-pansy.gif">
        <div class="bean-colors"><span style="color:orange">orange</span> + <span style="color:gold">yellow</span> + <span style="color:gold">yellow</span>
           + <span style="color:red">red</span></div>
        <hr>
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="four">Corn Rose</li>
        <img src="../../../images/flowers/corn-rose.gif">
        <div class="bean-colors"><span style="color:red">red</span> + <span style="color:gold">yellow</span> + <span style="color:orange">orange</span>
           + <span style="color:gold">yellow</span></div>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="four">Freshasa Daisy</li>
        <img src="../../../images/flowers/freshasa-daisy.gif">
        <div class="bean-colors"><span style="color:gold">yellow</span> + <span style="color:red">red</span> + <span style="color:darkturquoise">cyan</span>
           + <span style="color:orange">orange</span></div>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="four">Livered Lily</li>
        <img src="../../../images/flowers/livered-lily.gif">
        <div class="bean-colors"><span style="color:darkturquoise">cyan</span> + <span style="color:orange">orange</span> + <span style="color:orange">orange</span>
           + <span style="color:pink">pink</span></div>
        <a href="#gardeningTop">Back to Top</a>
     </ul>
     <h2><a name="fiveBean">Five Bean Flower Combinations</a></h2>
     <ul>    
        <!-- Five bean flower combinations -->
        <li data-flower-type="daffodil" data-bean-type="green" data-num-beans="five">Time and half-o-dil</li>
        <img src="../../../images/flowers/time-and-half-o-dil.gif">
        <div class="bean-colors"><span style="color:green">green</span> + <span style="color:pink">pink</span> + <span style="color:blue">blue</span>
           + <span style="color:pink">pink</span> + <span style="color:pink">pink</span></div>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="five">Side Carnation</li>
        <img src="../../../images/flowers/side-carnation.gif">
        <div class="bean-colors"><span style="color:pink">pink</span> + <span style="color:red">red</span> + <span style="color:green">green</span>
           + <span style="color:blue">blue</span> + <span style="color:red">red</span></div>
        <hr>
        <li data-flower-type="tulip" data-bean-type="violet" data-num-beans="five">Onelip</li>
        <img src="../../../images/flowers/onelip.gif">
        <div class="bean-colors"><span style="color:blueviolet">violet</span> + <span style="color:red">red</span> + <span style="color:blue">blue</span>
           + <span style="color:blueviolet">violet</span> + <span style="color:blueviolet">violet</span></div>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="five">Whoopsie Daisy</li>
        <img src="../../../images/flowers/whoopsie-daisy.gif">
        <div class="bean-colors"><span style="color:gold">yellow</span> + <span style="color:red">red</span> + <span style="color:orange">orange</span>
           + <span style="color:orange">orange</span> + <span style="color:orange">orange</span></div>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="five">Chili Lily</li>
        <img src="../../../images/flowers/chili-lily.gif">
        <div class="bean-colors"><span style="color:darkturquoise">cyan</span> + <span style="color:red">red</span> + <span style="color:red">red</span>
           + <span style="color:red">red</span> + <span style="color:red">red</span></div>
        <a href="#gardeningTop">Back to Top</a>
      </ul>
      <h2><a name="sixBean">Six Bean Flower Combinations</a></h2>
      <ul>    
        <!-- Six bean flower combinations -->
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="six" >Tinted Rose</li>
        <img src="../../../images/flowers/tinted-rose.gif">
        <div class="bean-colors"><span style="color:red">red</span> + <span style="color:pink">pink</span> + <span style="color:orange">orange</span>
           + <span style="color:red">red</span> + <span style="color:pink">pink</span> + <span style="color:orange">orange</span></div>
        <hr>
        <li data-flower-type="pansy" data-bean-type="orange" data-num-beans="six" >Smarty Pansy</li>
        <img src="../../../images/flowers/smarty-pansy.gif">
        <div class="bean-colors"><span style="color:orange">orange</span> + <span style="color:pink">pink</span> + <span style="color:pink">pink</span>
           + <span style="color:orange">orange</span> + <span style="color:blue">blue</span> + <span style="color:pink">pink</span></div>
        <hr>
        <li data-flower-type="tulip" data-bean-type="violet" data-num-beans="six" >Twolip</li>
        <img src="../../../images/flowers/twolip.gif">
        <div class="bean-colors"><span style="color:blueviolet">violet</span> + <span style="color:red">red</span> + <span style="color:red">red</span>
           + <span style="color:red">red</span> + <span style="color:blueviolet">violet</span> + <span style="color:blueviolet">violet</span></div>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="six" >Upsy Daisy</li>
        <img src="../../../images/flowers/upsy-daisy.gif">
        <div class="bean-colors"><span style="color:gold">yellow</span> + <span style="color:blue">blue</span> + <span style="color:darkturquoise">cyan</span>
           + <span style="color:blueviolet">violet</span> + <span style="color:blue">blue</span> + <span style="color:blue">blue</span></div>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="six" >Silly Lily</li>
        <img src="../../../images/flowers/silly-lily.gif">
        <div class="bean-colors"><span style="color:darkturquoise">cyan</span> + <span style="color:red">red</span> + <span style="color:blueviolet">violet</span>
           + <span style="color:blueviolet">violet</span> + <span style="color:blueviolet">violet</span> + <span style="color:blueviolet">violet</span></div>
        <a href="#gardeningTop">Back to Top</a>
      </ul>
      <h2><a name="sevenBean">Seven Bean Flower Combinations</a></h2>
      <ul>
        <!-- Seven bean flower combinations -->
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="seven" >Stinking Rose</li>
        <img src="../../../images/flowers/stinking-rose.gif">
        <div class="bean-colors"><span style="color:red">red</span> + <span style="color:darkturquoise">cyan</span> + <span style="color:orange">orange</span>
           + <span style="color:pink">pink</span> + <span style="color:blueviolet">violet</span> + <span style="color:darkturquoise">cyan</span>
           + <span style="color:darkturquoise">cyan</span></div>
        <hr>
        <li data-flower-type="carnation" data-bean-type="pink" data-num-beans="seven" >Model Carnation</li>
        <img src="../../../images/flowers/model-carnation.gif">
        <div class="bean-colors"><span style="color:pink">pink</span> + <span style="color:green">green</span> + <span style="color:green">green</span>
           + <span style="color:green">green</span> + <span style="color:green">green</span> + <span style="color:gold">yellow</span>
           + <span style="color:green">green</span></div>
        <hr>
        <li data-flower-type="petunia" data-bean-type="blue" data-num-beans="seven" >Car Petunia</li>
        <img src="../../../images/flowers/car-petunia.gif">
        <div class="bean-colors"><span style="color:blue">blue</span> + <span style="color:blueviolet">violet</span> + <span style="color:blue">blue</span>
           + <span style="color:blueviolet">violet</span> + <span style="color:darkturquoise">cyan</span> + <span style="color:blue">blue</span>
           + <span style="color:blue">blue</span></div>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="seven" >Crazy Daisy</li>
        <img src="../../../images/flowers/crazy-daisy.gif">
        <div class="bean-colors"><span style="color:gold">yellow</span> + <span style="color:green">green</span> + <span style="color:red">red</span>
           + <span style="color:orange">orange</span> + <span style="color:green">green</span> + <span style="color:green">green</span>
           + <span style="color:green">green</span></div>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="seven" >Indubitab Lily</li>
        <img src="../../../images/flowers/indubitab-lily.gif">
        <div class="bean-colors"><span style="color:darkturquoise">cyan</span> + <span style="color:blueviolet">violet</span> + <span style="color:darkturquoise">cyan</span>
           + <span style="color:blue">blue</span> + <span style="color:darkturquoise">cyan</span> + <span style="color:blue">blue</span>
           + <span style="color:blue">blue</span></div>
        <a href="#gardeningTop">Back to Top</a>
      </ul>
      <h2><a name="eightBean">Eight Bean Flower Combinations</a></h2>
      <ul>    
        <!-- Eight bean flower combinations -->
        <li data-flower-type="rose" data-bean-type="red" data-num-beans="eight" >Istilla Rose</li>
        <img src="../../../images/flowers/istilla-rose.gif">
        <div class="bean-colors"><span style="color:red">red</span> + <span style="color:blue">blue</span> + <span style="color:blueviolet">violet</span>
           + <span style="color:blueviolet">violet</span> + <span style="color:blue">blue</span> + <span style="color:blue">blue</span>
           + <span style="color:pink">pink</span> + <span style="color:blue">blue</span></div>
        <hr>
        <li data-flower-type="tulip" data-bean-type="violet" data-num-beans="eight" >Threelip</li>
        <img src="../../../images/flowers/threelip.gif">
        <div class="bean-colors"><span style="color:blueviolet">violet</span> + <span style="color:gold">yellow</span> + <span style="color:gold">yellow</span>
           + <span style="color:blueviolet">violet</span> + <span style="color:gold">yellow</span> + <span style="color:orange">orange</span>
           + <span style="color:blueviolet">violet</span> + <span style="color:gold">yellow</span></div>
        <hr>
        <li data-flower-type="petunia" data-bean-type="blue" data-num-beans="eight" >Platoonia</li>
        <img src="../../../images/flowers/platoonia.gif">
        <div class="bean-colors"><span style="color:blue">blue</span> + <span style="color:pink">pink</span> + <span style="color:pink">pink</span>
           + <span style="color:blue">blue</span> + <span style="color:red">red</span> + <span style="color:orange">orange</span>
           + <span style="color:gold">yellow</span> + <span style="color:gold">yellow</span></div>
        <hr>
        <li data-flower-type="daisy" data-bean-type="yellow" data-num-beans="eight" >Hazy Daisy</li>
        <img src="../../../images/flowers/hazy-daisy.gif">
        <div class="bean-colors"><span style="color:gold">yellow</span> + <span style="color:blue">blue</span> + <span style="color:blueviolet">violet</span>
           + <span style="color:darkturquoise">cyan</span> + <span style="color:blueviolet">violet</span> + <span style="color:red">red</span>
           + <span style="color:orange">orange</span> + <span style="color:blueviolet">violet</span></div>
        <hr>
        <li data-flower-type="lily" data-bean-type="cyan" data-num-beans="eight" >Dilly Lily</li>
        <img src="../../../images/flowers/dilly-lily.gif">
        <div class="bean-colors"><span style="color:darkturquoise">cyan</span> + <span style="color:blue">blue</span> + <span style="color:gold">yellow</span>
           + <span style="color:gold">yellow</span> + <span style="color:darkturquoise">cyan</span> + <span style="color:blue">blue</span>
           + <span style="color:gold">yellow</span> + <span style="color:gold">yellow</span></div>
        <a href="#gardeningTop">Back to Top</a>
      </ul>
    </div>
    <div class="footer-panel">
      Spike's Rewritten Guide © 2018
    </div>
  </body>
</html>